<div class="colorBox-content registration">
  <img class="icon" src="{{ asset('/bundles/app/images/lock_icon.png') }}" />

   <h4>Connexion</h4>

    {% if error is defined %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

<div class="cboxContent-login">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/user_login.png') }}" alt="user" class="closed" /></span>
          <input type="text" placeholder="Votre email" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/lock_login.png') }}" alt="mdp" class="closed"/></span>
          <input type="password" placeholder="Votre mot de passe" id="password" name="_password" required="required" class="form-control"/>
        </div>
      </div>

      <input type="submit" id="_submit" name="_submit" value="Je me connecte" class="btn btn-line-login"/>

      <p class="forgotten"><a class="inline_registr boxElement" href="{{ path('fos_user_resetting_request') }}">Identifiant ou mot de passe oublié ?</a></p>

    </form>

    </div>

    <div class="cboxContent-inscription center">
      <h6>
        Vous n'avez pas de compte Plateau Urbain?
         </h6>
    </div>
        <a class="inline_register cboxElement red" href="#inline_register_content">  <i class="fa fa-arrow-right fa-xs"></i> Je crée mon compte</a>
     
    
</div>
