<div class="colorBox-content registration">
  <img class="icon" src="{{ asset('/bundles/app/images/lock_icon.png') }}" />

    <h4>Connexion</h4>

    {% if error is defined %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" placeholder="Votre email" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" placeholder="Votre mot de passe" id="password" name="_password" required="required" class="form-control"/>
        </div>
      </div>

      <input type="submit" id="_submit" name="_submit" value="ME CONNECTER" class="btn btn-fullcolor"/>

      <p class="forgotten"><a class="inline_register cboxElement" href="#inline_password_forgotten">Identifiant ou mot de passe oublié ?</a></p>

    </form>

    <hr />

    <div class="text-left">
      <p>
        Vous n'avez pas de compte Plateau Urbain?
        <br />
        <a class="inline_register cboxElement" href="#inline_register_content">Inscription</a>
      </p>
    </div>
</div>
