{% extends "::base.html.twig" %}

{% block breadcrumb %}{% endblock %}

{% block body %}

    <div class="row">

        <!-- BEGIN MAIN CONTENT -->
        <div class="main col-sm-8 col-sm-offset-2">
            <h1 class="section-title">Mes candidatures</h1>
        </div>

    </div>



        <!-- BEGIN PROPERTY LISTING -->
        <div id="property-listing" class="list-style clearfix">
            <div class="row">
                {% for application in applications %}
                    <div class="item col-md-4"><!-- Set width to 4 columns for grid view mode only -->
                        <div class="image">
                            <a href="{{ path('space_show', {'id': application.space.id}) }}">
                                <span class="btn btn-default"><i class="fa fa-file-o"></i> Details</span>
                            </a>
                            <img src="{{ vich_uploader_asset(application.space.pics.0, 'file') | imagine_filter('square')  }}" alt="" />
                        </div>
                        <div class="price">
                            <i class="fa fa-home"></i>{{ application.space.type.name }}
                            <span>{{ application.space.price }}€ /m²/mois</span>
                        </div>
                        <div class="info">
                            <h3>
                                <a href="{{ path('space_show', {'id': application.space.id}) }}">{{ application.space.name }}</a>
                                <small>{{ application.space.zipCode }} {{ application.space.city }}</small>
                            </h3>
                            <p>
                                Description : {{ application.space.description }} <br/><br/>
                                ActivtyDescription : {{ application.space.activityDescription }}<br/><br/>
                                Size : {{ application.space.size }} <br/>
                                NbLot : {{ application.space.parcels | length }}
                                <a href="{{ path('my_application_show', {'id': application.id }) }}" class="btn btn-success">
                                    Voir ma candidature
                                </a>

                            </p>

                            <ul class="amenities">
                                <li><i class="icon-area"></i> Dispo: {{ application.space.availability }}</li>
                                <li><i class="icon-bedrooms"></i> Limite Candidature : {{ application.space.limitAvailability | date("d/m/Y") }}</li>
                                <li><i class="icon-bathrooms"></i> 3</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- END PROPERTY LISTING -->


{% endblock %}