{% extends "::base.html.twig" %}

{% block body %}
<div class="white"> 
        <div class="container"> 
   <div class="bkg-img"></div>
     
    <div class="row top-profil">
        <!-- BEGIN MAIN CONTENT -->
        <div class=" col-sm-12 ">

            <div class="titre-page">
                <h1>Mon profil candidat</h1>
            </div>
           <h6> <a href="{{ path('search_index') }}" class="red"><span class="sub-arrow"><i class="fa fa-square"></i></span>Tous les appels à candidatures</a></h6>
            {# <p>Voir les <a href="{{ path('cgu') }}">Conditions générales d'utilisation</a></p> #}
        </div>
    </div>

    <div id="js-form-space">
    
        {% for message in  app.flashes('error_msg') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    
    
        {% for message in  app.flashes('success_msg') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    
        {{ form_start(form, {'attr': {'class': 'has-crosses'}}) }}
            <div class="row">
                <div class=" col-xs-1 bkg ">
                    <ul>
                        <li>
                            <a class="indicator active" href="#one"></a>
                        </li>
                        <li>
                            <a class="indicator" href="#two"></a>
                        </li>
                        <li>
                            <a class="indicator" href="#three"></a>
                        </li>
                        <li>
                            <a class="indicator" href="#four"></a>
                        </li>
                        <li>
                            <a class="indicator" href="#five"></a>
                        </li>
                    </ul>
                </div>
                <div class="main col-xs-10 ">

                    <div id="one" class="section">
                        <span class="section-title form-one"></span>
                        <div class="form-contener">
                            <h3>Mes informations</h3>
                            <div class="row">
                                <div class="col-sm-6 inline-controls form-group civility-group">
                                    {{ form_label(form.userInfo.civility) }}
                                    {{ form_widget(form.userInfo.civility, { 'label_attr': { 'class': 'radio-inline' } }) }}
                                    {{ form_errors(form.userInfo.civility) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.userInfo.firstname) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.userInfo.lastname) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.userInfo.birthday) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.userInfo.phone) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    {{ form_row(form.userInfo.email) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    {{ form_row(form.userInfo.description) }}
                                </div>
                            </div>
                            <div class="row form-group form-group">
                                <div class="col-sm-12 ">
                                    {{ form_row(form.newsletter) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="two" class="section">
                        <span class="section-title form-two"></span>
                        <div class="form-contener">
                            <h3>Ma structure</h3>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.company) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyStatus) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6  form-group">
                                    {{ form_row(form.companyInfo.companyCreationDate) }}
                                </div>
                                <div class="col-sm-6  form-group">
                                    {{ form_row(form.companyInfo.siret)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    {{ form_row(form.companyInfo.address)}}
                                </div>
                                {# <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.addressSuite) }}
                                </div> #}
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.zipcode) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.city)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyPhone)}}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyMobile) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    {{ form_row(form.companyInfo.companyDescription)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyEffective)}}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyStructures)}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companySite)}}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyBlog)}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <span id="three" class="section"></span>
                    <span class="section-title form-three"></span>
                    <div class="form-contener">
                        <h3>Mes réseaux</h3>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-facebook"></i></span>
                                    {{ form_widget(form.facebookUrl) }}
                                    {{ form_errors(form.facebookUrl) }}
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-google-plus"></i></span>
                                    {{ form_widget(form.googleUrl) }}
                                    {{ form_errors(form.googleUrl) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-twitter"></i></span>
                                    {{ form_widget(form.twitterUrl) }}
                                    {{ form_errors(form.twitterUrl) }}
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-linkedin"></i></span>
                                    {{ form_widget(form.linkedinUrl) }}
                                    {{ form_errors(form.linkedinUrl) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-instagram fa-lg"></i></span>
                                    {{ form_widget(form.instagramUrl) }}
                                    {{ form_errors(form.instagramUrl) }}
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-tiktok fa-lg"></i></span>
                                    {{ form_widget(form.otherUrl) }}
                                    {{ form_errors(form.otherUrl) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <span id="four" class="section"></span>
                    <span class="section-title form-four"></span>
                    <div class="form-contener">
                        <h3>Mes documents</h3>
                        <div class="row">
                            <div class="col-sm-12 required-files">
                                <div class="col-sm-6">
                                    <label class="control-label">Mes téléchargements</label>

                                    <dl class="dl-horizontal info-block">

                                        <dd>
                                        Les documents suivants seront attachés à toutes vos candidatures.
                                        Les fichiers complémentaires qui peuvent être joints dans toutes vos candidatures doivent être téléchargés à partir de chaque fiche projet.
                                        </dd>
                                        <br/>
                                         <dd>
                                        Formats autorisés : JPG, GIF, PNG, PDF ou DOC.<br/>
                                        Chaque fichier ne doit pas excéder 10Mo.
                                         </dd>
                                                    
                                    </dl>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="col-sm-6 required-files">
                                    <ul class="list-unstyled">
                                        {% if form.idcard is defined or app.user.hasDocuments('id') %}
                                        <li class="idcard-file">
                                            {% if app.user.hasDocuments('id') and form.vars.valid %}
                                                <i class="fa fa-check fa-lg"></i>
                                            {% else %}
                                                <i class="fa fa-times fa-lg"></i>
                                            {% endif %}
                                            <label class="required">Pièce d'identité</label>
                                        </li>
                                        {% endif %}
                                    </ul>

                                    <div class="files">
                                        {% if form.idcard is not defined %}
                                            <div class="idcard-file file-infos clearfix">
                                                <div class="clearfix actions ">
                                                    {% set file =  app.user.getDocumentsType('id')[0] %}
                                                    <div style="display:inline-block; width:80%">{{ file.originalname }}</div>
                                                    <div style="display:inline-block" class="pull-right">
                                                        <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}"><i class="fa fa-eye"></i></a>
                                                        <a href="{{ path('profile_removedocument', { 'id': file.id }) }}"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif form.idcard is defined %}
                                            <div class="idcard-file file-infos clearfix{% if not form.idcard.vars.valid %} has-error{% endif %}">
                                                <div class=" actions ">
                                                    <label class="btn btn-accepted">
                                                        {{ form_widget(form.idcard) }}
                                                    </label>
                                                </div>
                                                {{ form_errors(form.idcard) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6 required-files">
                                        <ul class="list-unstyled">
                                        {% if form.kbis is defined or app.user.hasDocuments('kbis') %}
                                        <li class="kbis-file">
                                            {% if app.user.hasDocuments('kbis') and form.vars.valid %}
                                                <i class="fa fa-check fa-lg"></i>
                                            {% else %}
                                                <i class="fa fa-times fa-lg"></i>
                                            {% endif %}
                                            <label class="required">Kbis ou autre</label>
                                        </li>
                                        {% endif %}
                                        </ul>
                                        {% if form.kbis is not defined %}
                                            <div class="kbis-file file-infos clearfix">
                                                <div class="clearfix actions ">
                                                    {% set file =  app.user.getDocumentsType('kbis')[0] %}
                                                    <div style="display:inline-block; width:80%">{{ file.originalname }}</div>
                                                    <div style="display:inline-block" class="pull-right">
                                                        <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}"><i class="fa fa-eye"></i></a>
                                                        <a href="{{ path('profile_removedocument', { 'id': file.id }) }}"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif form.kbis is defined %}
                                            <div class="kbis-file file-infos clearfix{% if not form.kbis.vars.valid %} has-error{% endif %}">
                                                <div class="actions">
                                                    <label class="btn btn-accepted">
                                                        {{ form_widget(form.kbis) }}
                                                    </label>
                                                </div>
                                                {{ form_errors(form.kbis) }}
                                            </div>
                                        {% endif %}


                                        {% for doc in form.vars.data.getDocumentsType('') %}
                                            <div class="file-infos">
                                                <span>{{doc.fileName | slice(14, 100)}}</span>
                                                <div class="pull-right actions ">
                                                    <a target="_blank" href="{{ asset(vich_uploader_asset(doc, 'file')) }}" class="btn btn-show"><i class="fa fa-eye"></i></a>
                                                    <a href="{{ path('profile_removedocument', { 'id': doc.id }) }}" class="btn btn-delete"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </div>
                                        {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
            
                    <div id="five" class="section">
                        <span class="section-title form-five"></span>
                        <div class="form-contener">
                            <h3>Mon projet</h3>
                            <div class="row" >
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.wishedSize)}}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.useType)}}
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.usageDate)}}
                                </div>
                                <div class="col-sm-6 form-group {% if form.usageDuration.vars.errors|length %}has-error{% endif %}">
                                    {{ form_label(form.usageDuration)}}<br />
                                    <div class="row">
                                        <div class="col-sm-5">
                                            {{ form_widget(form.usageDuration) }}
                                        </div>
                                        <div class="col-sm-7">
                                            {{ form_widget(form.lengthTypeOccupation) }}
                                        </div>
                                    </div>
                                    {{ form_errors(form.usageDuration) }}
                                </div>
                                
                            </div>
                                <div class="row form-group">
                                     <div class="col-sm-12 form-group">
                                     {{ form_row(form.projectDescription)}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="save">
                <input type="submit" value="Enregistrer" class="btn btn-line-s">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="main col-sm-8 col-sm-offset-2">
            <center>
                <p>
                    Vous souhaitez vous désinscrire ? Merci d’adresser votre demande à <a class="mailto" href="mailto:contact@plateau-urbain.com">contact@plateau-urbain.com</a>
                </p>
            </center>
        </div>
    </div>


    {{ form_end(form) }}
</div>
</div>

{% endblock %}

{% block javascript %}
    <script>
        if (document.querySelector('.help-block')) {
            setTimeout(function() {
                document.querySelector('.help-block').closest('.form-contener').scrollIntoView(true);
            }, 500);
        }
    </script>
    
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {# Thomas BERNARD datepicker supprime
    #}
{% endblock %}
