{% extends "::base.html.twig" %}

{% block body %}
<div class="white"> 
        <div class="container"> 
   <div class="bkg-img"></div>
     
    <div class="row top-profil">
        <!-- BEGIN MAIN CONTENT -->
        <div class=" col-sm-12 ">

            <div class="titre-page">
                <h1>Mon profil candidat</h1>
            </div>
           <h6> <a href="{{ path('search_index') }}" class="red"><span class="sub-arrow"><i class="fa fa-square"></i></span>Tous les appels à candidatures</a></h6>
            {# <p>Voir les <a href="{{ path('cgu') }}">Conditions générales d'utilisation</a></p> #}
        </div>
    </div>

    <div id="js-form-space">
    
        {% for message in  app.flashes('error_msg') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    
    
        {% for message in  app.flashes('success_msg') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    
        {{ form_start(form, {'attr': {'class': 'has-crosses'}}) }}
            <div class="row">
                <div class=" col-xs-1 bkg ">
                    <ul>
                        <li>
                            <a class="indicator active" href="#one"></a>
                        </li>
                        <li>
                            <a class="indicator" href="#two"></a>
                        </li>
                        <li>
                            <a class="indicator" href="#three"></a>
                        </li>
                        <li>
                            <a class="indicator" href="#four"></a>
                        </li>
                        <li>
                            <a class="indicator" href="#five"></a>
                        </li>
                    </ul>
                </div>
                <div class="main col-xs-10 ">

                    <div id="one" class="section">
                        <span class="section-title form-one"></span>
                        <div class="form-contener">
                            <h3>Mes informations</h3>
                            <div class="row">
                                <div class="col-sm-6 inline-controls form-group civility-group{% if form.userInfo.civility.vars.errors|length %} has-error{% endif %}">
                                    {{ form_label(form.userInfo.civility, null, {'label_attr': {'class': 'required'}}) }}
                                    {{ form_widget(form.userInfo.civility, { 
                                        'label_attr': { 'class': 'radio-inline' },
                                        'attr': {
                                            'aria-required': 'true',
                                            'aria-invalid': form.userInfo.civility.vars.errors|length ? 'true' : 'false',
                                            'aria-describedby': 'civility-error'
                                        }
                                    }) }}
                                    {{ form_errors(form.userInfo.civility, {
                                        'attr': {
                                            'id': 'civility-error',
                                            'role': 'alert',
                                            'aria-live': 'polite'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group{% if form.userInfo.firstname.vars.errors|length %} has-error{% endif %}">
                                    {{ form_label(form.userInfo.firstname, null, {'label_attr': {'class': 'required'}}) }}
                                    {{ form_widget(form.userInfo.firstname, {
                                        'attr': {
                                            'required': 'required',
                                            'aria-required': 'true',
                                            'aria-invalid': form.userInfo.firstname.vars.errors|length ? 'true' : 'false',
                                            'aria-describedby': 'firstname-error',
                                            'data-error-message': 'Veuillez renseigner votre prénom'
                                        }
                                    }) }}
                                    {{ form_errors(form.userInfo.firstname, {
                                        'attr': {
                                            'id': 'firstname-error',
                                            'role': 'alert',
                                            'aria-live': 'polite'
                                        }
                                    }) }}
                                </div>
                                <div class="col-sm-6 form-group{% if form.userInfo.lastname.vars.errors|length %} has-error{% endif %}">
                                    {{ form_label(form.userInfo.lastname, null, {'label_attr': {'class': 'required'}}) }}
                                    {{ form_widget(form.userInfo.lastname, {
                                        'attr': {
                                            'required': 'required',
                                            'aria-required': 'true',
                                            'aria-invalid': form.userInfo.lastname.vars.errors|length ? 'true' : 'false',
                                            'aria-describedby': 'lastname-error',
                                            'data-error-message': 'Veuillez renseigner votre nom'
                                        }
                                    }) }}
                                    {{ form_errors(form.userInfo.lastname, {
                                        'attr': {
                                            'id': 'lastname-error',
                                            'role': 'alert',
                                            'aria-live': 'polite'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.userInfo.birthday) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.userInfo.phone) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    {{ form_row(form.userInfo.email) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    {{ form_row(form.userInfo.description) }}
                                </div>
                            </div>
                            <div class="row form-group form-group">
                                <div class="col-sm-12 ">
                                    {{ form_row(form.newsletter) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="two" class="section">
                        <span class="section-title form-two"></span>
                        <div class="form-contener">
                            <h3>Ma structure</h3>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.company) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyStatus) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6  form-group">
                                    {{ form_row(form.companyInfo.companyCreationDate) }}
                                </div>
                                <div class="col-sm-6  form-group">
                                    {{ form_row(form.companyInfo.siret)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    {{ form_row(form.companyInfo.address)}}
                                </div>
                                {# <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.addressSuite) }}
                                </div> #}
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.zipcode) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.city)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyPhone)}}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyMobile) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    {{ form_row(form.companyInfo.companyDescription)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyEffective)}}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyStructures)}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companySite)}}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.companyInfo.companyBlog)}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <span id="three" class="section"></span>
                    <span class="section-title form-three"></span>
                    <div class="form-contener">
                        <h3>Mes réseaux</h3>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-facebook"></i></span>
                                    {{ form_widget(form.facebookUrl) }}
                                    {{ form_errors(form.facebookUrl) }}
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-google-plus"></i></span>
                                    {{ form_widget(form.googleUrl) }}
                                    {{ form_errors(form.googleUrl) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-twitter"></i></span>
                                    {{ form_widget(form.twitterUrl) }}
                                    {{ form_errors(form.twitterUrl) }}
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-linkedin"></i></span>
                                    {{ form_widget(form.linkedinUrl) }}
                                    {{ form_errors(form.linkedinUrl) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-instagram fa-lg"></i></span>
                                    {{ form_widget(form.instagramUrl) }}
                                    {{ form_errors(form.instagramUrl) }}
                                </div>
                            </div>

                            <div class="col-sm-6 form-group">
                                <div class="input-group social-group">
                                    <span class="input-group-addon"><i class="fa-brands fa-tiktok fa-lg"></i></span>
                                    {{ form_widget(form.otherUrl) }}
                                    {{ form_errors(form.otherUrl) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <span id="four" class="section"></span>
                    <span class="section-title form-four"></span>
                    <div class="form-contener">
                        <h3>Mes documents</h3>
                        <div class="row">
                            <div class="col-sm-12 required-files">
                                <div class="col-sm-6">
                                    <label class="control-label">Mes téléchargements</label>

                                    <dl class="dl-horizontal info-block">

                                        <dd>
                                        Les documents suivants seront attachés à toutes vos candidatures.
                                        Les fichiers complémentaires qui peuvent être joints dans toutes vos candidatures doivent être téléchargés à partir de chaque fiche projet.
                                        </dd>
                                        <br/>
                                         <dd>
                                        Formats autorisés : JPG, GIF, PNG, PDF ou DOC.<br/>
                                        Chaque fichier ne doit pas excéder 10Mo.
                                         </dd>
                                                    
                                    </dl>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="col-sm-6 required-files">
                                    <ul class="list-unstyled">
                                        {% if form.idcard is defined or app.user.hasDocuments('id') %}
                                        <li class="idcard-file">
                                            {% if app.user.hasDocuments('id') and form.vars.valid %}
                                                <i class="fa fa-check fa-lg"></i>
                                            {% else %}
                                                <i class="fa fa-times fa-lg"></i>
                                            {% endif %}
                                            <label class="required">Pièce d'identité</label>
                                        </li>
                                        {% endif %}
                                    </ul>

                                    <div class="files">
                                        {% if form.idcard is not defined %}
                                            <div class="idcard-file file-infos clearfix">
                                                <div class="clearfix actions overflow">
                                                    {% set file =  app.user.getDocumentsType('id')[0] %}
                                                    <div style="display:inline-block; width:80%">{{ file.originalname }}</div>
                                                    <div style="display:inline-block" class="pull-right">
                                                        <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}"><i class="fa fa-eye"></i></a>
                                                        <a href="{{ path('profile_removedocument', { 'id': file.id }) }}"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif form.idcard is defined %}
                                            <div class="idcard-file file-infos clearfix{% if not form.idcard.vars.valid %} has-error{% endif %}">
                                                <div class=" actions overflow ">
                                                    <label class="btn btn-accepted">
                                                        {{ form_widget(form.idcard, {
                                                            'attr': {
                                                                'required': 'required',
                                                                'aria-required': 'true',
                                                                'aria-invalid': form.idcard.vars.errors|length ? 'true' : 'false',
                                                                'aria-describedby': 'idcard-error'
                                                            }
                                                        }) }}
                                                    </label>
                                                </div>
                                                {{ form_errors(form.idcard, {
                                                    'attr': {
                                                        'id': 'idcard-error',
                                                        'role': 'alert',
                                                        'aria-live': 'polite'
                                                    }
                                                }) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6 required-files">
                                        <ul class="list-unstyled">
                                        {% if form.kbis is defined or app.user.hasDocuments('kbis') %}
                                        <li class="kbis-file">
                                            {% if app.user.hasDocuments('kbis') and form.vars.valid %}
                                                <i class="fa fa-check fa-lg"></i>
                                            {% else %}
                                                <i class="fa fa-times fa-lg"></i>
                                            {% endif %}
                                            <label class="required">Kbis ou autre</label>
                                        </li>
                                        {% endif %}
                                        </ul>
                                        {% if form.kbis is not defined %}
                                            <div class="kbis-file file-infos clearfix">
                                                <div class="clearfix actions overflow">
                                                    {% set file =  app.user.getDocumentsType('kbis')[0] %}
                                                    <div style="display:inline-block; width:80%">{{ file.originalname }}</div>
                                                    <div style="display:inline-block" class="pull-right">
                                                        <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}"><i class="fa fa-eye"></i></a>
                                                        <a href="{{ path('profile_removedocument', { 'id': file.id }) }}"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif form.kbis is defined %}
                                            <div class="kbis-file file-infos clearfix{% if not form.kbis.vars.valid %} has-error{% endif %}">
                                                <div class="actions overflow">
                                                    <label class="btn btn-accepted">
                                                        {{ form_widget(form.kbis, {
                                                            'attr': {
                                                                'required': 'required',
                                                                'aria-required': 'true',
                                                                'aria-invalid': form.kbis.vars.errors|length ? 'true' : 'false',
                                                                'aria-describedby': 'kbis-error'
                                                            }
                                                        }) }}
                                                    </label>
                                                </div>
                                                {{ form_errors(form.kbis, {
                                                    'attr': {
                                                        'id': 'kbis-error',
                                                        'role': 'alert',
                                                        'aria-live': 'polite'
                                                    }
                                                }) }}
                                            </div>
                                        {% endif %}


                                        {% for doc in form.vars.data.getDocumentsType('') %}
                                            <div class="file-infos">
                                                <span>{{doc.fileName | slice(14, 100)}}</span>
                                                <div class="pull-right actions ">
                                                    <a target="_blank" href="{{ asset(vich_uploader_asset(doc, 'file')) }}" class="btn btn-show"><i class="fa fa-eye"></i></a>
                                                    <a href="{{ path('profile_removedocument', { 'id': doc.id }) }}" class="btn btn-delete"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </div>
                                        {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
            
                    <div id="five" class="section">
                        <span class="section-title form-five"></span>
                        <div class="form-contener">
                            <h3>Mon projet</h3>
                            <div class="row" >
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.wishedSize)}}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.useType)}}
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-sm-6 form-group">
                                    {{ form_row(form.usageDate)}}
                                </div>
                                <div class="col-sm-6 form-group {% if form.usageDuration.vars.errors|length %}has-error{% endif %}">
                                    {{ form_label(form.usageDuration)}}<br />
                                    <div class="row">
                                        <div class="col-sm-5">
                                            {{ form_widget(form.usageDuration) }}
                                        </div>
                                        <div class="col-sm-7">
                                            {{ form_widget(form.lengthTypeOccupation) }}
                                        </div>
                                    </div>
                                    {{ form_errors(form.usageDuration) }}
                                </div>
                                
                            </div>
                                <div class="row form-group">
                                     <div class="col-sm-12 form-group">
                                     {{ form_row(form.projectDescription)}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="save">
                <input type="submit" value="Enregistrer" class="btn btn-line-s">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="main col-sm-8 col-sm-offset-2">
            <center>
                <p>
                    Vous souhaitez vous désinscrire ? Merci d’adresser votre demande à <a class="mailto" href="mailto:contact@plateau-urbain.com">contact@plateau-urbain.com</a>
                </p>
            </center>
        </div>
    </div>


    {{ form_end(form) }}
</div>
</div>

{% endblock %}

{% block javascript %}
    <script>
        if (document.querySelector('.help-block')) {
            setTimeout(function() {
                document.querySelector('.help-block').closest('.form-contener').scrollIntoView(true);
            }, 500);
        }
        
        $(document).ready(function() {
            // Fonction de validation des champs
            function handleFieldValidation(field) {
                const $field = $(field);
                const formGroup = $field.closest('.form-group, .social-group, .civility-group');
                const value = $field.val();
                const isRequired = $field.prop('required') || $field.closest('.required').length > 0;
                
                // Supprimer les anciens messages d'erreur
                formGroup.find('.help-block').remove();
                
                if (isRequired && (!value || value.trim() === '')) {
                    // Champ requis mais vide - pas de vert, pas de rouge (attendre la soumission)
                    formGroup.removeClass('is-valid').removeClass('has-error');
                } else if (isRequired && value && value.trim() !== '') {
                    // Seulement vert si le champ est requis ET correctement rempli
                    formGroup.removeClass('has-error').addClass('is-valid');
                } else if (!isRequired) {
                    // Pour les champs non requis, pas de validation visuelle
                    formGroup.removeClass('has-error is-valid');
                }
            }
            
            // Validation en temps réel sur blur et change (sauf les radio buttons)
            $('input, select, textarea').not('input[type="radio"]').on('blur change', function() {
                handleFieldValidation(this);
            });
            
            // Validation spéciale pour les groupes de radio (civilité)
            $('input[name*="civility"]').on('change', function() {
                const civilityGroup = $('.civility-group');
                civilityGroup.find('.help-block').remove();
                
                if ($('input[name*="civility"]:checked').length > 0) {
                    civilityGroup.removeClass('has-error').addClass('is-valid');
                } else {
                    civilityGroup.removeClass('is-valid').addClass('has-error');
                    civilityGroup.append('<span class="help-block" role="alert" aria-live="polite">Veuillez sélectionner votre civilité</span>');
                }
            });
            
            // Gestion spéciale pour les fichiers
            $('.file-infos input[type="file"]').on('change', function() {
                const fileInfo = $(this).closest('.file-infos');
                const file = this.files[0];
                
                // Supprimer les anciens messages d'erreur
                fileInfo.find('.help-block').remove();
                
                if (file) {
                    // Vérifier la taille du fichier (10Mo max)
                    if (file.size > 10 * 1024 * 1024) {
                        fileInfo.addClass('has-error');
                        fileInfo.append('<span class="help-block" role="alert" aria-live="polite">Le fichier est trop volumineux (maximum 10Mo)</span>');
                    } else {
                        fileInfo.removeClass('has-error');
                    }
                } else {
                    // Si aucun fichier sélectionné et que le champ est requis
                    if ($(this).closest('.required-files').length > 0) {
                        fileInfo.addClass('has-error');
                        fileInfo.append('<span class="help-block" role="alert" aria-live="polite">Ce fichier est requis</span>');
                    } else {
                        fileInfo.removeClass('has-error');
                    }
                }
            });
            
            // Validation à la soumission du formulaire
            $('form').on('submit', function(e) {
                // La validation côté serveur Symfony s'occupe de la validation réelle
                // On ne bloque plus la soumission côté client pour éviter les problèmes de session
                return true;
            });
            
            // Nettoyer tous les styles de validation au chargement
            $('.form-group, .social-group, .civility-group').removeClass('is-valid has-error');

            // Initialiser la validation pour les champs requis déjà remplis (sauf les radio buttons)
            $('input[required], select[required], textarea[required]').not('input[type="radio"]').each(function() {
                const $field = $(this);
                const value = $field.val();
                const isRequired = $field.prop('required') || $field.closest('.required').length > 0;

                if (isRequired) {
                    if (!value || value.trim() === '') {
                        // Champ requis mais vide - pas de vert
                        $field.closest('.form-group').removeClass('is-valid').removeClass('has-error');
                    } else {
                        // Champ requis et rempli - vert
                        handleFieldValidation(this);
                    }
                }
            });

            // Ne pas initialiser automatiquement la validation pour les groupes de radio
            // Ils seront validés seulement lors de l'interaction utilisateur
        });
    </script>
    
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {# Thomas BERNARD datepicker supprime
    #}
    
    <style>
        /* Styles de validation pour la page profil */
        .form-group.has-error .help-block {
            color: #dc3545;
            font-size: 0.9em;
            margin-top: 5px;
            padding: 5px 8px;
            background-color: rgba(220, 53, 69, 0.1);
            border-left: 3px solid #dc3545;
            border-radius: 3px;
            animation: slideIn 0.3s ease-out;
        }
        
        .form-group.has-error .form-control {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }
        
        .form-group.is-valid .form-control {
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='m2.3 6.73.94-.94 1.44 1.44L7.7 4.3l.94.94L4.68 9.1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            padding-right: calc(1.5em + 0.75rem);
        }
        
        .form-group.has-error .form-control {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath d='m5.8 4.6 1.4 1.4 1.4-1.4'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            padding-right: calc(1.5em + 0.75rem);
        }
        
        /* Styles spécifiques pour les champs select */
        select.form-control {
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        
        .form-group.is-valid select.form-control {
            border: 2px solid #28a745;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='m2.3 6.73.94-.94 1.44 1.44L7.7 4.3l.94.94L4.68 9.1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            padding-right: calc(1.5em + 0.75rem);
        }
        
        .form-group.has-error select.form-control {
            border: 2px solid #dc3545;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath d='m5.8 4.6 1.4 1.4 1.4-1.4'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            padding-right: calc(1.5em + 0.75rem);
        }
        
        /* Styles pour les groupes de radio */
        .civility-group.has-error .radio-inline {
            color: #dc3545;
        }
        
        .civility-group.is-valid .radio-inline {
            color: #28a745;
        }
        
        /* Styles pour les fichiers */
        .file-infos.has-error {
            border: 2px solid #dc3545;
            border-radius: 4px;
            padding: 8px;
            background-color: rgba(220, 53, 69, 0.1);
            margin-bottom: 10px;
            min-height: 60px;
        }
        
        .file-infos .help-block {
            margin-top: 8px;
            margin-bottom: 0;
            color: #dc3545;
            font-size: 0.9em;
            padding: 5px 8px;
            background-color: rgba(220, 53, 69, 0.1);
            border-left: 3px solid #dc3545;
            border-radius: 3px;
        }
        
        /* Animation pour les messages d'erreur */
        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        /* Styles pour les groupes sociaux */
        .social-group.has-error .form-control {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }
        
        .social-group.is-valid .form-control {
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='m2.3 6.73.94-.94 1.44 1.44L7.7 4.3l.94.94L4.68 9.1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            padding-right: calc(1.5em + 0.75rem);
        }
    </style>
{% endblock %}
