{% extends "::base.html.twig" %}

{# {% block breadcrumb_items %}
  <li><a href="{{ path('security_profil') }}">Mon compte</a></li>
  <li><a href="{{ path('my_applications_list') }}">Mes candidatures</a></span></li>
  <li><span>Ma candidature pour : {{application.space.name}}</span></li>
{% endblock %} #}

{% block stylesheets %}
  {{ parent() }}

  {% stylesheets 'bundles/app/css/print.css'
  filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print" />
  {% endstylesheets %}
{% endblock %}

{% block body %}

<div class="application-header left">
 <div class="row">
    <div class="col-sm-6">
        <h3>{{ application.name }}</h3>
        <h6>{{ application.projectHolder.company }}</h6>
         {% if not application.isDraft %}
        <p>Candidature envoyée le {{ application.created|date('d/m/Y') }}</p>
      {% endif %}
    </div> 
    <div class="col-sm-6 application-status right">
      {% include '@App/Application/partials/_status_label.html.twig' %}
    </div>
</div>
</div>

{% set space = application.space %}
<div class="application-space space-card item show-app" id="space-card">
  <div class="item">
    <div class="row row-flex">
      <div class="col-xs-12 col-md-4 ">
        <div class="image">
          <div class="overlay">
             {% if application.space.isClosed %}
                          <div class="clos"><p> Appel à candidature cloturé</p></div>
                        {% else %}
                          <div class="encours"><p> Appel à candidature en cours</p></div>
                        {% endif %}
          </div>
          <div class="image-wrapper">
            <img class="img-responsive" src="{% if space.pics.0 is not null %}{{ vich_uploader_asset(application.space.pics.0, 'file') }}{% endif %}" alt="" />
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-8 box-info">
        <div class="info">
          <div class="row">
            <div class="col-sm-7">
                <p class="ville">{{ space.city }} ({{ space.zipCode|slice(0,2)}})</p>
                <h5>{{ application.space.name }}</h5>               
            </div>
           {#  <div class="col-sm-5 right">
               <a href="{{ path('space_show', {'id': space.id}) }}"class="red"><span class="sub-arrow"><i class="fa fa-square"></i></span>Voir l'annonce</a>              
            </div> #}
          </div>

          <div class="row">
            <ul>
              <li>{{ space.parcels | length }} espace(s)</li>
              <li>De {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup></li>
              <li>Disponibilité: {{ space.availability }}</li>
              <li>À partir de: {{ space.price }}€/m²/mois <small class="sub">H.C. H.T.<sup>1</sup></li>
                <li>Bailleur: {{ application.space.owner.company }}</li>
              </ul>
    </div>
          </div> 

     <div class="info-candidature">
                     <div class="row">
                       <div class="col-sm-6">
                            <div class="calendar"></div>
                            <div class="apply-date">
                            <p class="apply-date-p">Date limite de candidature</p>
                            <p class="apply-date-b">
                  {{ space.limitAvailability | localizeddate("long", "none") }} à {{ space.limitAvailability|date('H') }}h
                  </p>
                      </div>
      </div>

              <div class="col-sm-6 right">
                  <a href="{{ path('space_show', { 'id': space.id }) }}" class="btn btn-line-19 btn-grey"><span>Voir fiche projet</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
        

<div class="row">
  <div class="col-sm-6">
    <div class="box-information">    
      <div class="box-content">
         <h4 class="box-title">
        Contact
      </h4>
        <table>
          <tbody>
            <tr><th>Candidat</th><td>{{ application.projectHolder.fullName }}</td></tr>
            <tr><th>Date de naissance</th><td>{{ application.projectHolder.birthday|date('d/m/Y') }}</td></tr>
            <tr><th>Téléphone</th><td></td></tr>
            <tr><th>Email</th><td>{{ application.projectHolder.email }}</td></tr>
            <tr><th>À propos</th><td>{{ application.projectHolder.description|nl2br }}</td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box-information">     
      <div class="box-content">
         <h4 class="box-title">
        Réseaux sociaux
      </h4>
        <table>
          <tbody>
            <tr><th><i class="fa-brands fa-facebook fa-lg"></i></th><td>{{ application.projectHolder.facebookUrl }}</td></tr>
            <tr><th><i class="fa-brands fa-twitter fa-lg"></i></th><td>{{ application.projectHolder.twitterUrl }}</td></tr>
            <tr><th><i class="fa-brands fa-instagram fa-lg"></i></th><td>{{ application.projectHolder.instagramUrl }}</td></tr>
            <tr><th><i class="fa-brands fa-linkedin fa-lg"></i></th><td>{{ application.projectHolder.linkedinUrl }}</td></tr>
            <tr><th><i class="fa fa-link fa-lg"></i></th><td>{{ application.projectHolder.otherUrl }}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="box-information">    
      <div class="box-content">
          <h4 class="box-title">
        Structure
      </h4>
        <table>
          <tbody>
            <tr><th>Nom de la structure</th><td>{{ application.projectHolder.company }}</td></tr>
            <tr><th>Statut</th><td>{{ application.projectHolder.companyStatus }}</td></tr>
            <tr>
              <th>Date de création</th>
              <td>
                {% if application.projectHolder.companyCreationDate %}
                    {{ application.projectHolder.companyCreationDate|date("d/m/Y") }}
                {% endif %}
              </td>
            </tr>
            <tr><th>SIRET</th><td>{{ application.projectHolder.siret }}</td></tr>
            <tr><th>Ville</th><td>{{ application.projectHolder.city }}</td></tr>
            <tr><th>Code postal</th><td>{{ application.projectHolder.zipcode }}</td></tr>
            <tr><th>Adresse</th><td>{{ application.projectHolder.address }}</td></tr>
            <tr><th>Adresse (suite)</th><td>{{ application.projectHolder.addressSuite }}</td></tr>
            <tr><th>Téléphone fixe</th><td>{{ application.projectHolder.companyPhone }}</td></tr>
            <tr><th>Téléphone mobile</th><td>{{ application.projectHolder.companyMobile }}</td></tr>
            <tr><th>Présentation</th><td>{{ application.projectHolder.companyDescription|nl2br }}</td></tr>
            <tr><th>Nombre de personnes dans la structure</th><td>{{ application.projectHolder.companyEffective }}</td></tr>
            <tr><th>Structure(s) d'accompagnement</th><td>{{ application.projectHolder.companyStructures|nl2br }}</td></tr>
            <tr><th>Site web</th><td><a href="{{ application.projectHolder.companySite }}" target="_blank">{{ application.projectHolder.companySite|length > 30 ? application.projectHolder.companySite|slice(0, 30) ~ '...' : application.projectHolder.companySite  }}</a></td></tr>
            <tr><th>Blog</th><td><a href="{{ application.projectHolder.companyBlog }}" target="_blank">{{ application.projectHolder.companyBlog|length > 30 ? application.projectHolder.companyBlog|slice(0, 30) ~ '...' : application.projectHolder.companyBlog  }}</a></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="box-information">
      <div class="box-content">
      <h4 class="box-title">
        Projet pour cet espace
      </h4>
        <table>
          <tbody>
            <tr><th>Nom du projet</th><td>{{ application.name }}</td></tr>
            <tr><th>Type d'usage</th><td>{{ application.projectHolder.useType }}</td></tr>
            <tr><th>Type de projet</th><td>{{ application.category }}</td></tr>
            <tr><th>Surface recherchée</th><td>{{ application.wishedSize }} m<sup>2</sup></td></tr>
            <tr><th>Durée d'occupation</th><td>{{ application.fullLengthOccupation }}</td></tr>
            <tr><th>Date d'entrée souhaitée</th><td>{{ application.startOccupation|date('d/m/Y') }}</td></tr>
            <tr><th>Description</th><td>{{ application.description|nl2br }}</td></tr>
            <tr><th>Ouvert(e) à un projet collectif</th><td>{{ application.openToGlobalProject ? 'Oui' : 'Non' }}</td></tr>
            <tr><th>Contribution au projet global du propriétaire</th><td>{{ application.contribution|nl2br }}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="box-information">
      <div class="box-content">
      <h4 class="box-title">
        Documents disponibles
      </h4>
        <div class="files">

          {% if application.projectHolder.companyStatus == 'Association' %}
            <div class="file-infos">
              <span>Pièce d'identité</span>
              <div class="pull-right actions">
                {% if application.projectHolder.hasDocuments('id') %}
                {% set file =  application.projectHolder.getDocumentsType('id')[0] %}
                <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}" class="btn btn-download"><i class="fa fa-download fa-lg"></i></a>
                {% endif %}
              </div>
            </div>
          {% else %}
            <div class="file-infos">
              <span>Document justifiant la création de la structure</span>
              <div class="pull-right actions">
                {% if application.projectHolder.hasDocuments('kbis') %}
                {% set file =  application.projectHolder.getDocumentsType('kbis')[0] %}
                <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}" class="btn btn-download"><i class="fa fa-download fa-lg"></i></a>
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% for doc in application.projectHolder.getDocumentsType('') %}
              <div class="file-infos">
                <span>{{doc.fileName | slice(14, 100)}}</span>
                <div class="pull-right actions">
                    <a target="_blank" href="{{ asset(vich_uploader_asset(doc, 'file')) }}" class="btn btn-download"><i class="fa fa-download fa-lg"></i></a>
                </div>
              </div>
          {% endfor %}

          {% for doc in application.files %}
              <div class="file-infos">
                <span>{{doc.fileName | slice(14, 100)}}</span>
                <div class="pull-right actions">
                    <a target="_blank" href="{{ asset(vich_uploader_asset(doc, 'file')) }}" class="btn btn-download"><i class="fa fa-download fa-lg"></i></a>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row application_buttons">
  <div class="center">
    <a href="javascript:print();" class="btn btn-line-19">
      <i class="fa-solid fa-print fa-lg"></i>
      Imprimer ma candidature
    </a>
  </div>
</div>


<div class="pagination-wrapper">
    <ul class="pagination">

        <li>
            {% if prevApplication %}
                <a href="{{ path('my_application_show', { 'id': prevApplication.id }) }}" aria-label="Prev" title="Candidature précédente" data-toggle="tooltip">
                    <span aria-hidden="true"></span>
                </a>
            {% else %}
                <span aria-label="Previous">
                    <span aria-hidden="true"></span>
                </span>
            {% endif %}
        </li>

        <li>
            {% if nextApplication %}
            <a href="{{ path('my_application_show', { 'id': nextApplication.id }) }}" aria-label="Next"  title="Candidature suivante" data-toggle="tooltip">
                <span aria-hidden="true"></span>
            </a>
            {% else %}
                <span aria-label="Next">
                    <span aria-hidden="true"></span>
                </span>
            {% endif %}
        </li>

    </ul>
</div>

{% endblock %}
