<html>
<body>
><h1>Bonjour,</h1>


Une nouvelle propriété a été saisie sur le site Plateau Urbain. <br/>
Cette propriété est inactive pour le moment. Un administrateur doit valider cette propriété pour quelle soit en ligne.

<br/>
Aperçu de la propriété :

<ul>
    <li>Nom : {{ space.name }}</li>
    <li>Description : {{ space.description }}</li>
    <li>Description de l'emplacement : {{ space.locationDescription }}</li>
    <li>Surface : {{ space.surface }}</li>
    <li>Prix : {{ space.price }}</li>
</ul>

</body>
</html>