<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Page Title -->
	<title>{% block title %}Plateau Urbain{% endblock %}</title>

	<meta name="keywords" content="plateau, urbain" />
	<meta name="description" content="Créée en juillet 2013, Plateau Urbain est une association proposant de jouer le rôle d’interface entre propriétaires et porteurs de projets, pour redonner vie à des immeubles vacants et soutenir des projets associatifs, entreprenariaux et culturels" />

	<!-- Mobile Meta Tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('/bundles/app/images/fav_touch_icons/favicon.ico') }}" />

	<!-- IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Google-Fonts Embeded -->
	 <!-- Raleway -->
	 {% stylesheets  'bundles/app/css/Raleway.css' %}
	  <link rel="stylesheet" href="{{ asset_url }}?family=Raleway:300,500,900%7COpen+Sans:400,700,400italic" media="all" />
	 {% endstylesheets  %}
	 <!-- Roboto -->
	 {% stylesheets  'bundles/app/css/Roboto.css' %}
	  <link rel="stylesheet" href="{{ asset_url }}?family=Roboto:300,400,500,700" media="all" />
	 {% endstylesheets  %}
    {% stylesheets  'bundles/app/css/Ginka.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?family=ginka:300,400,500,600,700" media="all" />
    {% endstylesheets  %}


	<!-- Template CSS -->
        {% stylesheets  'bundles/app/css/bootstrap.min.css'
                        'bundles/app/css/icons.css'
                        'bundles/app/css/font-awesome.min.css'
                        'bundles/app/css/cozy-real-estate-font.css'
                        'bundles/app/css/owl.transitions.css'
                        'bundles/app/css/colorbox.css'
                        'bundles/app/rs-plugin/css/settings.css'
                        'bundles/app/css/style.css'
                        'bundles/app/css/cycle.css'
                        'bundles/app/css/main.css'

        filter='cssrewrite' %}
           <link rel="stylesheet" href="{{ asset_url }}" media="all" />
        {% endstylesheets  %}


        {% block stylesheets %}{% endblock %}

		<!-- Cookie-Consent -->
		{% stylesheets  'bundles/app/css/cookieconsent.min.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" medial="all" />
		{% endstylesheets %}
        {% javascripts  'bundles/app/js/cookieconsent.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}
	<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		  "palette": {
			"popup": {
			  "background": "#edeff5",
			  "text": "#838391"
			},
			"button": {
			  "background": "#bc1b38"
			}
		  },
		  "content": {
			"message": "Pour améliorer votre navigation, ce site utilise des cookies",
			"dismiss": "OK!",
			"link": "En savoir plus",
			"href": "/cgu"
		  }
		})});
	</script>


        <!-- Modernizr -->
        {% javascripts  'bundles/app/js/modernizr-2.8.1.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}

{#
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-74052320-1', 'auto');
		ga('send', 'pageview');

	</script>
#}

	</head>
    <body>
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">

		<!-- BEGIN HEADER --> 
		<header id="header">
			<div id="nav-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<a href="{{ path('homepage')}}" class="nav-logo"><img src="{{ asset('/public/images/logo.png') }}" alt="Plateau Urbain" /></a>

							<!-- BEGIN MAIN MENU -->
							<nav class="navbar">
								<button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>
                            <!-- Ajout de Label dans KPN -->
								{{ knp_menu_render('AppBundle:Builder:mainMenu', {'allow_safe_labels': true}) | raw  }}
							</nav>
							<!-- END MAIN MENU -->

						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END HEADER -->

		<!-- BEGIN PAGE TITLE/BREADCRUMB -->
      /*  {% block breadcrumb %}
            <div class="breadcrumb-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="breadcrumb">
                                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                                {% block breadcrumb_items %}{% endblock %}
                            </ul>
                            <p class="clearfix"></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}*/
        <!-- END PAGE TITLE/BREADCRUMB -->

        {% block prebody %} {% endblock %}

        <div class="content">
            <div class="container pb100">
                {% block containerbkg %} {% endblock %}
                {% block body %}{% endblock %}
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>

		{% block actualities %}{% endblock %}

		{% block partners %}{% endblock %}

		{% block footer %}
			{% include '/Partials/footer.html.twig' %}
		{% endblock %}

	</div>
	<!-- END WRAPPER -->

		<!-- Libs -->
        {% javascripts  'bundles/app/js/common.js'
        'bundles/app/js/jquery.prettyPhoto.js'
        'bundles/app/js/owl.carousel.min.js'
        'bundles/app/js/chosen.jquery.min.js'
        'bundles/app/js/infobox.min.js'
        'bundles/app/rs-plugin/js/jquery.themepunch.tools.min.js'
        'bundles/app/rs-plugin/js/jquery.themepunch.revolution.min.js'
        'bundles/app/js/jquery.colorbox.js'
        'bundles/app/js/bootstrap-checkbox.js'
        'bundles/app/js/variables.js'
        'bundles/app/js/scripts.js'
        'bundles/app/js/agencies.js'
        'bundles/app/js/pu.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}


		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.core.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.carousel.min.js"></script> -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/freewall/1.0.5/freewall.min.js"></script>


		{% if app.session.flashbag.has('error_sign') %}
			<script type="text/javascript">
				$(document).ready(function() {
					$.colorbox({html:$('#inline_register_content').html(), width:"400px"});
				});
			</script>
		{% endif %}

		{% if app.request.get('confirm_inscription') %}
			<script type="text/javascript">
				$(document).ready(function() {
					$.colorbox({html:"<div class='colorBox-content'><i class='fa fa-info-circle danger'></i><p>Vous allez recevoir un email de confirmation.<br /> Il vous sera demandé de cliquer sur le lien pour confirmer votre adresse email.</p></div>", width:"400px"});
				});
			</script>
		{% endif %}

		{% block javascript %}
        {% endblock %}

		<div style='display:none'>
			<div id="inline_content">
				{{ render(controller("AppBundle:Security:loginForm")) }}
			</div>
			<div id="inline_register_content">
				{{ render(controller("FOSUserBundle:Registration:register")) }}
			</div>
		</div>

	</body>
</html>
