<!-- BEGIN FOOTER -->
<footer id="footer">
  <div id="footer-top" class="container">
    <div class="row">

      <div class="block col-sm-4">
        <div class="row">

          <div class="block col-sm-12">
            <h3>Trouver un espace ou des porteurs de projets</h3>
            <p>
              Plateau Urbain est une association dédiée à la mise en relation et
              à l'accompagnement des propriétaires de locaux vacants et des
              porteurs de projet en Île-de-France.
            </p>
          </div>

          <div class="block col-sm-12">
            <h3>Plateau Urbain est soutenu par</h3>
            <ul class="list-inline">
              <li class="col-sm-6">
                  <a href="http://www.fondation-macif.org/" target="_blank"><img src="http://placehold.it/760x670" alt="" /></a>
              </li>
              <li class="col-sm-6">
                <div class="image">
                  <a href="http://www.atelier-idf.org/" target="_blank"><img src="http://placehold.it/760x670" alt="" /></a>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>


      <div class="block col-sm-4">
        <div class="row">

          <div class="block col-sm-12">
            <h3>Développer vos projets</h3>
            <ul class="footer-links">
              <li><a href="#">Comment ça marche ?</a></li>
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{path('search_index')}}">Rechercher un espace</a></li>
                <li><a href="{{path('space_manager_add')}}">Proposer un espace</a></li>
                <li><a href="{{path('fos_user_profile_show')}}">Mon compte</a></li>
              {% else %}
                <li><a href="#inline_content" class="inline cboxElement">Rechercher un espace</a></li>
                <li><a href="#inline_content" class="inline cboxElement">Proposer un espace</a></li>
                <li><a href="#inline_content" class="inline cboxElement">Mon compte</a></li>
              {% endif %}
            </ul>
          </div>

          <div class="block col-sm-12">
            <h3>Plateau urbain</h3>
            <ul class="footer-links">
              <li><a href="http://www.plateau-urbain.com/">Nous connaître</a></li>
              <li><a href="#">Soutenir l’association</a></li>
              <li><a href="mailto:contact@plateau-urbain.com">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="block col-sm-4">

        <div class="row">

          <div class="block col-sm-12">
            <a href="index.html"><img src="{{ asset('/public/images/logo.jpg') }}" alt="Plateau Urbain" /></a>
            <ul class="list-unstyled">
              <li><strong>Siège : </strong> 14-16 rue Planchat 75020 Paris</li>
              <li><strong>Locaux : </strong> 82 avenue Denfert Rochereau 75014 Paris</li>
              <li><i class="fa fa-envelope"></i>contact@plateau-urbain.com</li>
              <li><i class="fa fa-phone"></i>06 75 53 32 60</li>
            </ul>
          </div>

          <div class="block col-sm-12">
            <h3>Suivez-nous</h3>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- BEGIN COPYRIGHT -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-inline">
            <li>&copy; {{ "now"| date("Y") }} Plateau Urbain</li>
            <li><a href="#">Conditions générales d'utilisation</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="http://www.widop.com/">Développement Wid'op</a></li>
            <li><a href="http://www.sosowide.com/">Web & UX Design So So Wide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END COPYRIGHT -->

</footer>
<!-- END FOOTER -->
