<!-- BEGIN FOOTER -->
<footer id="footer">
  <div class="top"></div>

  <div id="footer-top" class="container">
    <div class="row">

      <div class="block col-sm-6">
        <div class="row">

          <div class="block col-sm-10 logo">
              <a href="https://www.plateau-urbain.com" target="_blank" class="logo-footer"><img src="{{ asset('/public/images/logo-footer.png') }}" alt="Plateau Urbain" height="58"/></a>
            <p>
             Coopérative d’urbanisme temporaire et transitoire, Plateau Urbain propose des espaces de travail abordables, dans des lieux vivants et créatifs, et mène des activités de conseil et de prospective.
            </p>

            <p>
            ©️ Plateau Urbain 2023 · mentions légales
            </p>

          </div>

         

        </div>
      </div>


     

      <div class="block col-sm-4">

        <div class="row">

          <div class="block col-sm-8">

            <ul class="list-unstyled infos">
                <li>01 79 75 66 57</li>
                <li>lu-ven 9h-13h / 14h-19h</li>
                <li>contact@plateau-urbain.com</li>
                </ul>
             <ul class="list-unstyled infos">
                <li>SCIC SA à Directoire</li
                <li>16 bld Saint-Germain CS 7014</li>
                <li>75237 PARIS Cedex 05</li>
                </ul>
          </div>

          <div class="block col-sm-8">
        
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/plateau.urbain/" target="_blank" class="fb"></a></li>
              <li><a href="https://twitter.com/plateauurbain" target="_blank" class="tw"></a></li>
              <li><a href="https://www.linkedin.com/company/plateau-urbain" target="_blank" class="in"></a></li>
              <li><a href="https://www.instagram.com/plateau.urbain/" target="_blank" class="insta"></a></li>
            </ul>
            <p><strong>Suivez la vie de la coopérative sur les réseaux</strong></p>
          </div>
        </div>
      </div>

       <div class="block col-sm-2">
        <div class="row">

          <div class="block col-sm-12">
            <ul class="footer-links">
            <li><a href="https://drive.google.com/file/d/0B8cjA2J8XWEDSkZ5N1FfSW5FWHc/view" target="_blank">Comment ça marche ?</a></li>
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{path('search_index')}}">Rechercher un espace</a></li>
                <li><a href="{{path('proprietaire')}}">Proposer un espace</a></li>
                <li><a href="{{path('security_profil')}}">Mon compte</a></li>
              {% else %}
                <li><a href="#inline_content" class="inline cboxElement">Rechercher un espace</a></li>
                <li><a href="{{ path('proprietaire') }}">Proposer un espace</a></li>
                <li><a href="#inline_content" class="inline cboxElement">Mon compte</a></li>
              {% endif %}
            </ul>
          
          </div>


         
        </div>
      </div>


    </div>
  </div>


  <!-- BEGIN COPYRIGHT -->
{#   <div id="copyright">
    <div class="top"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-inline">
            <li>&copy; {{ "now"| date("Y") }} Plateau Urbain</li>
            <li><a href="{{path('cgu')}}">Conditions générales d'utilisation et Mentions légales</a></li>
            <li><a class="normal" href="https://github.com/Plateau-Urbain/Plateau-Urbain">Développement</a></li>
	        <li>Maintenance & Hébergement : <a class="normal" href="https://asso.libratoi.org/">Libre à Toi</a> - <a href="https://24eme.fr/">24eme</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> #}
  <!-- END COPYRIGHT -->

</footer>
<!-- END FOOTER -->
