{% extends "::base.html.twig" %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('space_manager_list') }}">Liste de mes espaces</a>
    </li>
    <li>
        <a href="{{ path('space_show', { 'id': space.id }) }}">{{ space.name }}</a>
    </li>
    <li>
        <span>Liste des candidats</span>
    </li>
{% endblock %}

{% block body %}
<div class="page-header">
    <div class="row">
        <!-- BEGIN MAIN CONTENT -->
        <div class="col-sm-6">
            <h1 class="page-title">Liste des candidats ({{ pagination.getTotalItemCount }})</h1>
        </div>

        <div class="col-sm-6">
            <div class="btn-toolbar pull-right">
                <a href="" class="btn btn-secondary">
                    <i class="fa fa-download"></i>
                    Exporter la liste
                </a>
                <a href="javascript:print();" class="btn btn-secondary">
                    <i class="fa fa-print"></i>
                    Imprimer
                </a>
            </div>
        </div>
    </div>
</div>

        
<!-- BEGIN PROPERTY LISTING -->
<div id="space-card" class="space-card clearfix">
    <div class="row">
        <div class="col-sm-4">
            {% if space.pics.first %}
                <img src="{{ vich_uploader_asset(space.pics.first, 'file')|imagine_filter('product_thumb') }}" alt="{{ space.pics.first.fileName }}" class="img-responsive">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <div class="col-sm-6">
                <h2 class="space-title">
                    {{ space.name }} {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}
                    <small>{{ space.city }} ({{ space.zipCode|slice(0,2)}})</small>
                </h2>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div class="space-price">
                    À partir de
                    <strong>{{ space.price }}€/m²/mois</strong>
                    H.C. H.T.<sup>1</sup>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="space-description">
                    <p>
                        {{ space.description }} ...
                        <a href="">Voir l'annonce</a>
                    </p>
                </div>
                <div class="space-date-limit">
                    Date limite de candidature
                    <strong>
                        {{ space.limitAvailability | localizeddate("long", "none") }} à {{ space.limitAvailability|date('H') }}h
                    </strong>
                </div>
            </div>

            <div class="col-sm-12">
                {% if space.isEnabled and not space.isClosed %}
                    <a href="{{ path('space_manager_close', { 'id': space.id }) }}" class="btn btn-fullcolor">Clôturer</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<hr>

<div class="center">
    <a href="#space-stats" data-toggle="collapse">
        <i class="fa fa-lg fa-eye-slash" title="Masquer/Afficher les statistiques" data-toggle="tooltip"></i>
    </a>
</div>

<div class="space-stats collapse in" id="space-stats">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="stats-title">
                Statistiques des candidatures sur cet espace
            </h3>

            <p class="stats-summary">
                Cet espace compte <strong>{{ pagination.totalItemCount }} candidatures</strong><br>
                représentant une demande totale de <strong>- m<sup>2</sup></strong>
            </p>
        </div>

        <div class="col-sm-6">
            <h4 class="stats-title secondary">Par type de candidature</h4>
        </div>
        <div class="col-sm-6">
            <h4 class="stats-title secondary">Par type de projet</h4>
        </div>

        <div class="col-sm-12 center">
            <a href="" class="btn btn-secondary">
                <i class="fa fa-print"></i>
                Imprimer
            </a>
        </div>
    </div>
</div>

<hr>

{% if pagination.getTotalItemCount > 0 %}
<div id="listing-header" class="clearfix">
    <div class="row">
        <div class="col-sm-12">
            {% include 'AppBundle:SpaceManagement/Partials:results_numbers.html.twig' with {'pagination' : pagination, 'label' : 'candidatures' } %}
        </div>
    </div>
        
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-control-small">
                <select id="groupActionSelect" data-placeholder="Actions groupées">
                    <option value=""> </option>
                    <option value="accept">Accepter</option>
                    <option value="refuse">Refuser</option>
                </select>
            </div>
            <a href="#accept_content" class="btn btn-fullcolor" id="groupActionBtn">Appliquer</a>
        </div>
        
        <div class="col-sm-4">
            <div class="form-control-small">
                <select id="sort_by" name="sort_by" data-placeholder="Trier par">
                    <option value=""> </option>
                    <option value="created">Trier par date</option>
                    <option value="city">Trier par ville</option>
                </select>
            </div>

            <div class="sort">
                <ul>
                    <li id="desc"><i data-toggle="tooltip" data-placement="top" title="Sort Descending" class="fa fa-chevron-down"></i></li>
                    <li id="asc"><i data-toggle="tooltip" data-placement="top" title="Sort Ascending" class="fa fa-chevron-up"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>    
        
<div class="row">
    {% for application in pagination %}
        <div class="item col-sm-12 contact-us">
            <div class="row">
                <div class="col-sm-1">
                    {% if application.isAwaiting %}
                    <input type="checkbox" class="groupCheck" value="{{ application.id }}" />
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <p>STATUT : {{ application.statusLabel | upper }}</p>
                    <p>{{ application.name | upper }}</p>
                    <p>PAR {{ application.projectHolder.company | upper }}</p>
                    <br />
                    <p><i class="fa fa-user"></i>&nbsp; {{ application.projectHolder.fullName }}</p>

                    <p><i class="fa fa-file-text-o"></i>&nbsp; {{ application.description|length > 250 ? application.description|slice(0, 250) ~ '...' : application.description  }}</p>
                </div>
                <div class="col-sm-5">
                    <p>Candidature déposée le : {{ application.created | date('d/m/Y') }}</p>
                    <p>Type de projet : {{ application.category }}</p>
                    <p>Surface recherchée : {{ application.wishedSize }}m²</p>
                    <p>Durée d'occupation : {{ application.lengthOccupation }} {{ application.lengthTypeOccupation }}</p>
                    <p>Date d'entrée souhaitée : {{ application.startOccupation | date ('d F Y') }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <p class="center">Il n'y a aucune candidature sur cette espace</p>
{% endif %}


<div style="display: none;">
    <div id="accept_content">
        <form action="" method="post">
            <div class="colorBox-content">
                <h4>Accepter les candidatures selectionnées</h4>
                <br />
                <p>Vous allez accepter les dossiers de <strong>$nb_candidates$ candidatures</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis diam nec lacus porta, vel tempor augue viverra. </p>

                <textarea name="message" rows="5" class="form-control"></textarea>
                <input type="submit" value="Accepter" class="btn btn-fullcolor">
                <input type="hidden" name="action" value="accept" />
                <input type="hidden" name="applications" value="" />
            </div>
        </form>
    </div>
    <div id="refuse_content">
        <form action="" method="post">
            <div class="colorBox-content">
                <h4>Refuser les candidatures selectionnées</h4>
                <br />
                <p>Vous allez effectuer un refus groupé de <strong>$nb_candidates$ candidatures</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis diam nec lacus porta, vel tempor augue viverra. </p>

                <textarea name="message" rows="5" class="form-control"></textarea>
                <input type="submit" value="Envoyer un refus groupé" class="btn btn-fullcolor">
                <input type="hidden" name="action" value="refuse" />
                <input type="hidden" name="applications" value=""/>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#groupActionBtn").click(function() {
                var nbCandidates = $('.groupCheck:checked').length;

                var ids = '';
                $('.groupCheck:checked').each(function() {
                     ids += (ids === '' ? '' : '-') + $(this).val();
                });
                
                $('input[name="applications"]').val(ids);

                if (nbCandidates > 0 && $('#groupActionSelect').val() !== '') {            
                    $("#groupActionBtn").colorbox({width:"500px", html: $('#'+$('#groupActionSelect').val()+'_content').html().replace('$nb_candidates$', nbCandidates)});
                }
                
            });
        });
    </script>
{% endblock %}