{% extends "::base.html.twig" %}

{# {% block breadcrumb_items %}
  <li><a href="{{ path('space_manager_list') }}">Liste de mes espaces</a></li>
  <li><a href="{{ path('space_show', { 'id': space.id }) }}">{{ space.name }}</a></li>
  <li><span>Liste des candidats</span></li>
{% endblock %} #}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/app/css/print.css'
        filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<div class="page-header top-candidats">
  <div class="row ">
    <!-- BEGIN MAIN CONTENT -->
  {# <div class="col-sm-6">
      <h1 class="page-title">Liste des candidats ({{ pagination| length }})</h1>
    </div>  #}
    <div class="col-sm-4">
     <h6><a href="{{ path('aac_list', {'id': space.id}) }}"class="red"><span class="sub-arrow"><i class="fa fa-square"></i></span>Tous les espaces</a></h6>  
   </div>
  </div>
  
</div>

<!-- BEGIN PROPERTY LISTING -->
<div id="property-listing">
  <div id="space-card" class="item application-space space-card no-bkg lst">

    <div class="row row-flex">
      <div class="col-sm-4">

        <div class="image">
          <div class="overlay">
             {% if space.isClosed %}
                          <div class="clos"><p> Appel à candidature cloturé</p></div>
                        {% else %}
                          <div class="encours"><p> Appel à candidature en cours</p></div>
                        {% endif %}
          </div>
          <div class="image-wrapper">
              {% if space.pics.0 is not null %}
                    <img src="{{ vich_uploader_asset(space.pics.0, 'file') }}" alt="{{ space.pics.0.fileName }}" />
              {% endif %}
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="no-padding">
          <div class="row margin-15">
            {# <div class="col-sm-7">
              <h3>
                <p class="ville">{{ space.city }} ({{ space.zipCode|slice(0,2)}})</p>
                <h4>{{ space.name }}</h4>
                 {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}<br/>
              </h3>
            </div> #}
           {#  <div class="col-sm-5">
             <div class="btn-toolbar pull-right">
        <a href="{{ path('space_manager_candidatesexport', { 'id': space.id }) }}" class="btn btn-line-19">
          <i class="fa fa-download"></i>
          Exporter la liste
        </a>
        <a href="javascript:print();" class="btn btn-line-19">
          <i class="fa fa-print"></i>
          Imprimer
        </a>
      </div>
            </div> #}
          </div>

          <div class="row margin-15">
             <div class="col-sm-12">
             <div class="space-description">
                {# <p>
                  {{ space.description | raw }} ...
                  <a href="{{ path('space_show', { 'id': space.id }) }}">Voir l'annonce</a>
                </p> #}
              </div> 
              <h2 class="stats-summary">
        Cet espace compte <strong>{{ space.nbValidApplication }}</strong> candidature(s)<br>
        représentant une demande totale de <strong>{{ space.totalWishedSize }} m<sup>2</sup></strong>
      </h2>
            {#  <div class="col-sm-6">
                            <div class="calendar"></div>
                            <div class="apply-date">
                            <p class="apply-date-p">Date limite de candidature</p>
                            <p class="apply-date-b">
                  {{ space.limitAvailability | localizeddate("long", "none") }} à {{ space.limitAvailability|date('H') }}h
                  </p>
                      </div>
            </div>
        


          <div class="row margin-15">
            <div class="col-sm-4">
              {% if not space.submitted and not space.enabled and not space.closed %}
                <a href="{{ path('space_manager_edit', { 'id': space.id }) }}" class="btn btn-line-19">Modifier</a>
              {% endif %}
            </div>
            <div class="col-sm-4">
              {% if space.isEnabled and not space.isClosed %}
                <a href="{{ path('space_manager_close', {'id' : space.id}) }}" class="btn btn-line-19" onClick="return confirm('Êtes-vous sûr de vouloir clôturer cet espace ?');"><span>Clôturer</span></a>
              {% endif %}
            </div>
          </div> #}

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{# <hr class="brown" />

<div class="center space-stats">
  <a href="#space-stats" data-toggle="collapse" class="toggle-stats">
    <i class="fa fa-lg fa-eye-slash" title="Masquer/Afficher les statistiques" data-toggle="tooltip"></i>
  </a>
</div> #}

<div class="space-stats collapse in" id="space-stats">
  {# <div class="row first-line">
    <div class="col-sm-12">
     
      <p class="stats-summary">
        Cet espace compte <strong>{{ space.nbValidApplication }}</strong> Candidatures<br>
        représentant une demande totale de <strong>{{ space.totalWishedSize }} m<sup>2</sup></strong>
      </p>
    </div>
  </div> #}

  <div class="row">
    <div class="col-sm-6" id="firstChartContener">
      <h4 class="stats-title secondary">Par type de candidature</h4>
      <canvas id="firstChart" width="585px" height="300px"></canvas>
    </div>
    <div class="col-sm-6" id="secondChartContener">
      <h4 class="stats-title secondary">Par type de projet</h4>
      <canvas id="secondChart" width="585px" height="300px"></canvas>
    </div>
  </div>
    </div>
  

 {#  <div class="row">
    <div class="col-sm-12 center">
      <a href="javascript:print();" class="btn btn-secondary">
        <i class="fa fa-print"></i>
        Imprimer
      </a>
    </div>
  </div>
</div>



<div id="listing-header" class="clearfix">
  <div class="row">
    <div class="col-sm-12 results-numbers">
     {#  <h4>
        {% include 'AppBundle:SpaceManagement/Partials:results_numbers.html.twig' with {'pagination' : pagination, 'label' : 'candidatures' } %}
      </h4> #}

      <div class="col-sm-6">
      <h3 class="page-title">Liste des candidat•es ({{ pagination| length }})</h3>
    </div>
     <div class="col-sm-6">
      <div class="btn-toolbar pull-right">
        <a href="{{ path('space_manager_candidatesexport', { 'id': space.id }) }}" class="btn btn-line-19">
          <i class="fa fa-download"></i>
          Exporter la liste
        </a>
        <a href="javascript:print();" class="btn btn-line-19">
          <i class="fa fa-print"></i>
          Imprimer
        </a>
      </div>
    </div>
  
</div>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-control-small">
        <select id="groupActionSelect" data-placeholder="Actions groupées">
          <option value=""> </option>
          <option value="accept">Accepter</option>
          <option value="refuse">Refuser</option>
        </select>
      </div>
      <div class="btn-appli">
      <a href="#accept_content" class="btn btn-line-19 btn-form" id="groupActionBtn">Appliquer</a>
    </div>
    </div>

    <div class="col-sm-6">
      {{ form_start(filterForm, { 'attr': { 'data-submit': true } } ) }}
      <div class="col-sm-4">
          {{ form_widget(filterForm.status_filter) }}
      </div>
      <div class="col-sm-4">
          {{ form_widget(filterForm.sort_field) }}
      </div>
      <div class="col-sm-4">
          {{ form_widget(filterForm.sort_order) }}
      </div>

      {{ form_end(filterForm) }}
    </div>
  </div>


<div class="application-list">
  {% for application in pagination %}
    <div class="item candidate-item">
      <div class="row row-flex">
        <div class=" col-xs-12 col-md-12 border-box">
          
           <div class="actions">
          {% if application.isAwaiting or application.isUnread %}
            <input type="checkbox" class="groupCheck" value="{{ application.id }}" />
          {% endif %}
        </div>
        <div class="candidate-argus">
          <div class="cell-content ">
            <div class="application-status">
              {% if application.status == 'unread' or application.status == 'awaiting'  %}
                Statut: <strong class="awaiting">{{ application.statusLabel | upper }}</strong>
              {% elseif application.status == 'accepted'  %}
                Statut: <strong class="accepted">{{ application.statusLabel | upper }}</strong>
              {% elseif application.status == 'rejected'  %}
                Statut: <strong class="rejected">{{ application.statusLabel | upper }}</strong>
              {% endif %}
            </div>
            <div class="application-title">
                <h3>{{ application.name }}</h3>
                PAR <strong>{{ application.projectHolder.company }}</strong>
            </div>

            <dl class="dl-horizontal dl-with-icon">
             {#  <dt><i class="icon small user-brown"></i></dt> #}
              <p class="dd-title"><strong>{{ application.projectHolder.fullName }}</strong></p>
             
              <p><span class="">{{ application.description|truncate(250) }}</p>
            </dl>
          </div>
      
           <div class="border-candidat">
           <div class="pull-right star">
              <a class="toggle-star" href="{{ path('space_manager_toggle_selected_application', { 'id': application.id }) }}">
                {% if application.selected %}
                  <i class="fa-solid fa-star fa-lg"></i>
                {% else %}
                  <i class="fa-regular fa-star fa-lg"></i>
                {% endif %}
              </a>
            </div>
         
          <div class="cell-content-right ">
            <ul class="application-desc">
              <li>Candidature déposée le : <strong>{{ application.created | date('d/m/Y') }}</strong></li>
              <li>Type d'usage : <strong>{{ application.projectHolder.useType }}</strong></li>
              <li>Type de projet : <strong>{{ application.category }}</strong></li>
              <li>Surface recherchée : <strong>{{ application.wishedSize }}m²</strong></li>
              <li>Durée d'occupation : <strong>{{ application.lengthOccupation }} {{ application.lengthTypeOccupation }}</strong></li>
              <li>Date d'entrée souhaitée : <strong>{{ application.startOccupation|localizeddate('long', 'none') }}</strong></li>
            </ul>

            <a href="{{ path('application_show', { 'id': application.id }) }}" class="btn btn-line-19"><span>Voir la candidature</span></a>
            </div>
        </div>
        </div>
      </div>
    </div>
      </div>
  {% else %}
    <div class="no-results">
      <p class="center">Il n'y a aucune candidature sur cet espace</p>
    </div>
  {% endfor %}
</div>

<div>
  <div class="row">
    <div class="col-sm-12">
      {{ knp_pagination_render(pagination) }}
    </div>
  </div>
</div>

<div style="display: none;">
    <div id="accept_content">
        <form action="{{ path('space_manager_candidates', {'id' : space.id}) }}#accept_confirm" method="post">
            <div class="colorBox-content">
                <h4>Accepter les candidatures selectionnées</h4>
                <br />
                <p class="text-left">Vous allez accepter les dossiers de <strong>$nb_candidates$ candidature(s)</strong>. Les candidats recevront le texte-type suivant :</p>

                <p class="text-left"><i>
                  Bonjour,<br>
                  Votre candidature sur le site plateau-urbain pour l'espace {{space.name}} à {{space.city}} a été acceptée.
                </i></p>

                <p class="text-left">
                  Souhaitez-vous compléter ce message ?
                </p>

                <textarea name="message" rows="5" class="form-control"></textarea>
                <input type="submit" value="Accepter" class="btn btn-fullcolor">
                <input type="hidden" name="action" value="accept" />
                <input type="hidden" name="applications" value="" />
            </div>
        </form>
    </div>
    <div id="refuse_content">
        <form action="{{ path('space_manager_candidates', {'id' : space.id}) }}#refuse_confirm" method="post">
            <div class="colorBox-content">
                <h4>Refuser les candidatures selectionnées</h4>
                <br />
                <p class="text-left">Vous allez effectuer un refus de <strong>$nb_candidates$ candidature(s)</strong>. Les candidats recevront le texte-type suivant :</p>

                <p class="text-left"><i>
                  Bonjour,<br>
                  Votre candidature sur le site plateau-urbain pour l'espace {{space.name}} à {{space.city}} a été refusée.
                </i></p>

                <p class="text-left">
                  Souhaitez-vous compléter ce message ?
                </p>

                <textarea name="message" rows="5" class="form-control"></textarea>
                <input type="submit" value="Envoyer un refus groupé" class="btn btn-fullcolor">
                <input type="hidden" name="action" value="refuse" />
                <input type="hidden" name="applications" value=""/>
            </div>
        </form>
    </div>
    <div id="accept_confirm">
        <div class="colorBox-content">
            <h4>Le message d'acceptation a été envoyé aux candidatures sélectionnées</h4>
            <br />
        </div>
    </div>
    <div id="refuse_confirm">
        <div class="colorBox-content">
            <h4>Le message de refus a été envoyé aux candidatures sélectionnées</h4>
            <br />
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    {% javascripts  'bundles/app/js/chart.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts  %}

    <script type="text/javascript">
        $(document).ready(function() {

            $("#groupActionBtn").click(function() {
                var nbCandidates = $('.groupCheck:checked').length;

                var ids = '';
                $('.groupCheck:checked').each(function() {
                     ids += (ids === '' ? '' : '-') + $(this).val();
                });

                $('input[name="applications"]').val(ids);

                if (nbCandidates > 0 && $('#groupActionSelect').val() !== '') {
                    $("#groupActionBtn").colorbox({width:"500px", html: $('#'+$('#groupActionSelect').val()+'_content').html().replace('$nb_candidates$', nbCandidates)});
                }

            });

            // Manage sort field
            $(function () {
                $('.sort').on('click', 'label', function () {
                    var $input = $(this).find('input');

                    $('.sort').find('label').removeClass('checked');

                    if ($input.is(':checked')) {
                        $(this).addClass('checked');
                    }
                });
            });

            // Submit form
            $('form[data-submit]').on('change', function () {
                $(this).trigger('submit');
            });

            var barChartData2 = {
                labels : [{% for cat in categories %}'{{ cat.name }}',{% endfor %}],
                datasets : [
                    {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,0.8)",
                        highlightFill : "rgba(151,187,205,0.75)",
                        highlightStroke : "rgba(151,187,205,1)",
                        data : [{% for cat in categories %}{{ space.nbApplicationCategory(cat) }},{% endfor %}]
                    }
                ]

            };

            var colors = ['#F7464A', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360'];
            var hightLightColors = ['#FF5A5E', '#5AD3D1', '#FFC870', '#A8B3C5', '#616774'];

            var barChartData1 = [
                {% for key, use in useTypes %}
                {
                    value: {{ space.nbApplicationUseType(use) }},
                    color: colors[{{ key }} % 5],
                    highlight: hightLightColors[{{ key }} % 5],
                    label: "{{ use.name }}"
                },
                {% endfor %}
            ];



            var ctx = document.getElementById("firstChart").getContext("2d");
            window.myPie = new Chart(ctx).Pie(barChartData1, {
                showTooltips: true,
                responsive: true,
                multiTooltipTemplate: "<%= value %>",
                legendTemplate : '{{ "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%> !important\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>" }}'
            });

            //then you just need to generate the legend
            var legend = window.myPie.generateLegend();

            //and append it to your page somewhere
            $('#firstChartContener').append(legend);

            var ctx = document.getElementById("secondChart").getContext("2d");
                window.myBar = new Chart(ctx).Bar(barChartData2, {
                responsive : true
            });
        });

        var hash = window.location.hash.substring(1);
        $(function() {

            if (hash == "accept_confirm") {
                $.colorbox({width:"400px", html:$('#accept_confirm').html()});
            } else if (hash == "refuse_confirm") {
                $.colorbox({width:"400px", html:$('#refuse_confirm').html()});
            }
        });


    </script>
{% endblock %}
