{% extends "::base.html.twig" %}

{% block breadcrumb %}{% endblock %}

{% block body %}

<div class="row">

        <!-- BEGIN MAIN CONTENT -->
        <div class="col-sm-12">
                <h1 class="property-title">Liste des candidats ({{ pagination.getTotalItemCount }})</h1>            
        </div>
        
</div>    

<hr />        
        
<!-- BEGIN PROPERTY LISTING -->
<div id="property-listing" class="list-style clearfix">
    <div class="row">
        {% include 'AppBundle:SpaceManagement/Partials:space.html.twig' with {'space' : space, 'context' : 'manage_candidates' } %}
    </div>
</div>

{% if pagination.getTotalItemCount > 0 %}
<div id="listing-header" class="clearfix">
    <div class="row">
        <div class="col-sm-12">
            {% include 'AppBundle:SpaceManagement/Partials:results_numbers.html.twig' with {'pagination' : pagination, 'label' : 'candidatures' } %}
        </div>
    </div>
        
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-control-small">
                <select id="groupActionSelect" data-placeholder="Actions groupées">
                    <option value=""> </option>
                    <option value="accept">Accepter</option>
                    <option value="refuse">Refuser</option>
                </select>
            </div>
            <a href="#accept_content" class="btn btn-fullcolor" id="groupActionBtn">Appliquer</a>
        </div>
        
        <div class="col-sm-4">
            <div class="form-control-small">
                <select id="sort_by" name="sort_by" data-placeholder="Trier par">
                    <option value=""> </option>
                    <option value="created">Trier par date</option>
                    <option value="city">Trier par ville</option>
                </select>
            </div>

            <div class="sort">
                <ul>
                    <li id="desc"><i data-toggle="tooltip" data-placement="top" title="Sort Descending" class="fa fa-chevron-down"></i></li>
                    <li id="asc"><i data-toggle="tooltip" data-placement="top" title="Sort Ascending" class="fa fa-chevron-up"></i></li>
                </ul>
            </div>
        </div>
    </div>

</div>    
        
<div class="row">
    {% for application in pagination %}
        <div class="item col-sm-12 contact-us">
            <div class="row">
                <div class="col-sm-1">
                    <input type="checkbox" class="groupCheck" value="{{ application.id }}"/>
                </div>
                <div class="col-sm-6">
                    <p>STATUT : {{ application.status | upper }}</p>
                    <p>{{ application.name | upper }}</p>
                    <p>PAR {{ application.projectHolder.company | upper }}</p>
                    <br />
                    <p><i class="fa fa-user"></i>&nbsp; {{ application.projectHolder.fullName }}</p>

                    <p><i class="fa fa-file-text-o"></i>&nbsp; {{ application.description|length > 250 ? application.description|slice(0, 250) ~ '...' : application.description  }}</p>
                </div>
                <div class="col-sm-5">
                    <p>Candidature déposée le : {{ application.created | date('d/m/Y') }}</p>
                    <p>Type de projet : {{ application.category }}</p>
                    <p>Surface recherchée : {{ application.wishedSize }}m²</p>
                    <p>Durée d'occupation : {{ application.lengthOccupation }} {{ application.lengthTypeOccupation }}</p>
                    <p>Date d'entrée souhaitée : {{ application.startOccupation | date ('d F Y') }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <center>
        <p>Il n'y a aucune candidature sur cette espace</p>
    </center>
{% endif %}


<div style="display: none;">
    <div id="accept_content">
        <form action="" method="post">
            <div class="colorBox-content">
                <h4>Accepter les candidatures selectionnées</h4>
                <br />
                <p>Vous allez accepter les dossiers de <strong>$nb_candidates$ candidatures</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis diam nec lacus porta, vel tempor augue viverra. </p>

                <textarea name="message" rows="5" class="form-control"></textarea>
                <input type="submit" value="Accepter" class="btn btn-fullcolor">
                <input type="hidden" name="action" value="accept" />
                <input type="hidden" name="applications" value="" />
            </div>
        </form>
    </div>
    <div id="refuse_content">
        <form action="" method="post">
            <div class="colorBox-content">
                <h4>Refuser les candidatures selectionnées</h4>
                <br />
                <p>Vous allez effectuer un refus groupé de <strong>$nb_candidates$ candidatures</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis diam nec lacus porta, vel tempor augue viverra. </p>

                <textarea name="message" rows="5" class="form-control"></textarea>
                <input type="submit" value="Envoyer un refus groupé" class="btn btn-fullcolor">
                <input type="hidden" name="action" value="refuse" />
                <input type="hidden" name="applications" value=""/>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#groupActionBtn").click(function() {
                var nbCandidates = $('.groupCheck:checked').length;

                var ids = '';
                $('.groupCheck:checked').each(function() {
                     ids += (ids === '' ? '' : '-') + $(this).val();
                });
                
                $('input[name="applications"]').val(ids);

                if (nbCandidates > 0 && $('#groupActionSelect').val() !== '') {            
                    $("#groupActionBtn").colorbox({width:"500px", html: $('#'+$('#groupActionSelect').val()+'_content').html().replace('$nb_candidates$', nbCandidates)});
                }
                
            });
        });
    </script>
{% endblock %}