{% extends "::base.html.twig" %}

{% block breadcrumb_items %}
    <li><a href="{{ path('search_index') }}">Mon compte</a></li>
    <li><span>Ajouter un espace</span></li>
{% endblock %}



{% block body %}

    {% include "AppBundle:SpaceManagement/Partials:edit_spaces.html.twig" with { 'form': form } %}

{% endblock %}


{% block javascript %}
    {{ parent() }}

    {% javascripts filter='?yui_js' output='assetic/js/compiled/avocodeformextensions/form-extensions.min.js'
    'bundles/avocodeformextensions/datepicker/js/datepicker.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('bundles/avocodeformextensions/datepicker/js/locales/bootstrap-datepicker.fr.js') }}"></script>

    <script src="{{ asset('bundles/app/js/space.js') }}"></script>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite,?yui_css' output='assetic/css/compiled/avocodeformextensions/form-extensions.min.css'
        'bundles/avocodeformextensions/datepicker/css/datepicker.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}