{% extends "::base.html.twig" %}

{#  {% block breadcrumb_items %}
   <li><a href="{{ path('security_profil') }}">Mon compte</a></li>
    <li>
        <span>Mes espaces</span>
    </li>
{% endblock %} #}

{% block body %}

 <div class="row top-profil">
        <!-- BEGIN MAIN CONTENT -->
        <div class=" col-sm-12 ">

            <div class="titre-page">
        <h1>Mes espaces</h1>
            </div>
</div>
</div>

<div id="listing-header" class="clearfix">
  <div class="row">
    <div class="col-sm-6 results-numbers">
      <h6>
        {% include 'AppBundle:SpaceManagement/Partials:results_numbers.html.twig' with {'pagination' : pagination, 'label' : 'espaces' } %}
      </h6>
    </div>

    <div class="col-sm-6">
      {{ form_start(filterForm, { 'attr': { 'data-submit': true } } ) }}

      <div class="col-sm-4">
        {{ form_widget(filterForm.status_filter) }}
      </div>

      <div class="col-sm-4">
        {{ form_widget(filterForm.sort_field) }}
      </div>

      <div class="col-sm-4">
        {{ form_widget(filterForm.sort_order) }}
      </div>

      {{ form_end(filterForm) }}
    </div>
  </div>
</div>

{% if pagination | length == 0 %}

    <div class="no-results">
      <p>Vous n'avez aucun espace à gérer :</p>
      <a href="{{ path('space_manager_add') }}">Ajouter un espace</a>
    </div>

{% else %}

<!-- BEGIN PROPERTY LISTING -->
<div id="property-listing" class="list-style clearfix management-list">
    <div class="row">
    {% for space in pagination %}
        {% include 'AppBundle:SpaceManagement/Partials:space.html.twig' with {'space' : space, 'context' : 'manage_list' } %}
    {% endfor %}
    </div>
</div>
<!-- END PROPERTY LISTING -->


{{ knp_pagination_render(pagination) }}
{% endif %}

<div style="display: none;">
    <div id="create_confirm">
        <div class="colorBox-content">
            <h4>Demande de publication envoyée</h4>
            <br />
            <p>Votre offre a bien été enregistrée. Elle apparaîtra bientôt sur la plate-forme, une fois validée par l’administrateur du site.</p>
        </div>
    </div>
</div>

{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {

            // Manage sort field
            $(function () {
                $('.sort').on('click', 'label', function () {
                    var $input = $(this).find('input');

                    $('.sort').find('label').removeClass('checked');

                    if ($input.is(':checked')) {
                        $(this).addClass('checked');
                    }
                });
            });

            // Submit form
            $('form[data-submit]').on('change', function () {
                console.log("here");
                $(this).trigger('submit');
            });

            {% if app.request.get('create_confirm') == '1' %}
                $.colorbox({width:"400px", html:$('#create_confirm').html()});
            {% endif %}

        });
    </script>
{% endblock %}
