{% extends "::base.html.twig" %}

{% block breadcrumb %}{% endblock %}

{% block body %}

<div class="row">

        <!-- BEGIN MAIN CONTENT -->
        <div class="col-sm-12">
                <h1 class="property-title">Liste de mes espaces</h1>            
        </div>
        
</div>    

<div id="listing-header" class="clearfix">
    <div class="form-control-small">
        <select id="sort_by" name="sort_by" data-placeholder="Trier par">
            <option value=""> </option>
            <option value="created">Trier par date</option>
            <option value="city">Trier par ville</option>
        </select>
    </div>

    <div class="sort">
        <ul>
            <li id="desc"><i data-toggle="tooltip" data-placement="top" title="Sort Descending" class="fa fa-chevron-down"></i></li>
            <li id="asc"><i data-toggle="tooltip" data-placement="top" title="Sort Ascending" class="fa fa-chevron-up"></i></li>
        </ul>
    </div>

</div>    
    
<!-- BEGIN PROPERTY LISTING -->
<div id="property-listing" class="list-style clearfix">
    <div class="row">
    {% for space in pagination %}
        <div class="item col-md-4"><!-- Set width to 4 columns for grid view mode only -->
            <div class="image">
                <a href="{{ path('space_show', {'id': space.id}) }}">
                    <span class="btn btn-default"><i class="fa fa-file-o"></i> Details</span>
                </a>
                <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') | imagine_filter('thumb')  }}{% endif %}" alt="" />
            </div>
            <div class="price">
                <i class="fa fa-home"></i>{% if space.type %}{{ space.type.name }}{% endif %}
                <span>{{ space.price }}€ /m²/mois</span>
            </div>
            <div class="info">
                <h3>
                    <a href="{{ path('space_show', {'id': space.id}) }}">{{ space.name }}</a>
                    <small>{{ space.zipCode }} {{ space.city }}</small>
                </h3>
                <p>
                    Description : {{ space.description }} <br/><br/>
                    ActivtyDescription : {{ space.activityDescription }}<br/><br/>
                    Size : {{ space.size }} <br/>
                    NbLot : {{ space.parcels | length }}

                </p>

                <ul class="amenities">
                    <li><i class="icon-area"></i> Dispo: {{ space.availability }}</li>
                    <li><i class="icon-bedrooms"></i> Limite Candidature : {{ space.limitAvailability | date("d/m/Y") }}</li>
                </ul>
                
                <div>
                    <a href="{{ path('space_manager_candidates', {'id' : space.id}) }}" class="btn btn-fullcolor">Voir les candidats</a>
                    {% if space.closed == false %}<a href="{{ path('space_manager_close', {'id' : space.id}) }}" class="btn btn-fullcolor">Clotûrer</a>{% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- END PROPERTY LISTING -->


{{ knp_pagination_render(pagination) }}

{% endblock body %}