{% extends 'base.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block prebody %}
<!-- BEGIN HOME SLIDER SECTION -->
<div class="revslider-container">
    <div class="revslider" >
        <ul>
            <li data-transition="fade" data-slotamount="7">
                <img src="{{ asset('/bundles/app/images/carte.png') }}" alt="carte" />
                <div class="caption sfr slider-title pu-main-title" data-x="70" data-y="120" data-speed="800" data-start="1300" data-easing="easeOutBack" data-endspeed="700" data-endeasing="easeInSine">{{ 'Trouvez votre espace' | upper }}</div>
                <div class="caption sfl slider-subtitle pu-sub-title" data-x="75" data-y="245" data-speed="800" data-start="1500" data-easing="easeOutBack" data-endspeed="500" data-endeasing="easeInSine"><span>81</span> espaces et <span>574</span> porteurs de projets inscrits sur Plateau Urbain</div>
                <a href="#inline_register_content" class="caption sfb btn btn-fullcolor btn-lg inline_register" data-x="75" data-y="340" data-speed="800" data-easing="easeOutBack" data-start="1600" data-endspeed="500" data-endeasing="easeInSine">M'INSCRIRE</a>
            </li>
        </ul>
    </div>
</div>
<!-- END HOME SLIDER SECTION -->
{% endblock %}

{% block body %}

<div class='row pu-home-content'>

    <div class='col-sm-6'>
        <div class='col-sm-6'>
            <h2>Résorber la vacance, servir la création</h2>
        </div>
        <div class='col-sm-6'>
            <p>Plateau urbain est une association proposant de jouer le rôle d'agent immobilier dans une optique non lucrative afin de redonner une activité à des immeubles vacants en renégociant des baux précaires à des tarifs réduits.</p>
            <br />
            <a href='#' class='btn btn-default-color'>En savoir plus</a>
        </div>
    </div>
    <div class='col-sm-6'>
        <div class='col-sm-6'>
            <img src='{{ asset('/bundles/app/images/ile-de-france.png') }}' alt='Ile de France' />
        </div>
        <div class='col-sm-6'>
            <img src='{{ asset('/bundles/app/images/logo-idf.png') }}' alt='Ile de France' />
            <p class="ml65 mt15"><strong>4 000 000 m²</strong> de bureaux vacants</p>
            <p class="ml65 mt15"><strong>1097</strong> communes gérantes d'espaces</p>
        </div>
        
    </div>
</div>    
   
            
<div class="row">
    <h1 class="section-title animate-from-bottom animation-from-bottom" data-animation-direction="from-bottom" data-animation-delay="50">Nos partenaires</h1>
    
    <div id="featured-properties-slider" class="owl-carousel fullwidthsingle" data-animation-direction="from-bottom" data-animation-delay="250">
            <div class="item">
                <div class="col-sm-3">
                    <img src="{{ asset('/public/images/cergy_logo.png') }}" alt="Cergy" />
                </div>
                <div class="col-sm-3">
                    <img src="{{ asset('/public/images/logo-est-ensemble.png') }}" alt="Est Ensemble" />
                </div>
                <div class="col-sm-3">
                    <img src="{{ asset('/public/images/logo-bezons.png') }}" alt="Bezons" />
                </div>
                <div class="col-sm-3">
                    <img src="{{ asset('/public/images/Plaine_Commune.jpg') }}" alt="Plaine Commune" />
                </div>
            </div>
    </div>
    
</div>            
    
{% endblock %}
