<div class="colorBox-content">
    <h4>Inscription</h4>
    <br />
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis diam nec lacus porta, vel tempor augue viverra. </p>
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_label(form.wishedSize) }}
        {{ form_widget(form.wishedSize) }}

        {{ form_label(form.useType) }}
        {{ form_widget(form.useType) }}

        <br />
        <br />
        <br />
        <br />
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}

        <label>Mot de passe *</label>
        {{ form_widget(form.plainPassword.first) }}

        <label>Confirmation du mot de passe *</label>
        {{ form_widget(form.plainPassword.second) }}

        {{ form_rest(form) }}

        {% for msg in app.session.flashbag.get('error_sign')  %}
            <p style="color: red;">{{ msg }}</p>
        {% endfor %}

        <div>
            <input type="submit" value="M'INSCRIRE" class='btn btn-fullcolor'/>
        </div>
        <br />
    </form>
</div>


