<div class="colorBox-content">
    <h4>Inscription</h4>
    <br />
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis diam nec lacus porta, vel tempor augue viverra. </p>
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_label(form.wishedSize) }}
        {{ form_widget(form.wishedSize) }}

        {{ form_label(form.category) }}
        {{ form_widget(form.category) }}

        <br />
        <br />
        <br />
        <br />
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}

        <label>Mot de passe *</label>
        {{ form_widget(form.plainPassword.first) }}

        <label>Confirmation du mot de passe *</label>
        {{ form_widget(form.plainPassword.second) }}

        <div>
            <input type="submit" value="M'INSCRIRE" class='btn btn-fullcolor'/>
        </div>
        <br />
        <p>Vous allez recevoir un e-mail de confirmation.<br />Il vous sera demandé de cliquer sur le lien pour confirmer votre adresse email.</p>
    </form>
</div>
