{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
  <div class="row-flex">
<div class="login-page col-xs-12 col-md-6">  
<div id="cboxContent" style="background: transparent;">
<div  class="colorBox-content registration">

    <img class="icon" src="{{ asset('/bundles/app/images/user_icon.png') }}" />

    <h4>Inscription</h4>

        <div id="cboxContent white">

            {{ form_start(form, {'action': path('fos_user_registration_register'), 'attr': {'class':'fos_user_registration_register'}}) }}

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/user_login.png') }}" alt="user" class="closed" /></span>
                    {{ form_widget(form.email) }}
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/lock_login.png') }}" alt="user" class="closed" /></span>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/lock_login.png') }}" alt="user" class="closed" /></span>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
            <p class="forgotten">
                Vous allez recevoir un email de confirmation.
                Il vous sera demandé de cliquer sur le lien pour confirmer votre adresse email.
            </p>
  
            {{ form_rest(form) }}
           <!-- <div class="alert alert-danger alert-error">
            {% for msg in app.session.flashbag.get('error_sign')  %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>-->

            

            <input type="submit" id="_submit" value="Je m'inscris" class='btn btn-line-login'/>
<div class="text-left">
<hr class="black">
                <p>
                    Vous avez déjà un compte Plateau Urbain?
                    <br />
                    <i class="fa-solid fa-arrow-right"></i> <a  href="{{ path('fos_user_security_login') }}">Connexion</a>
                </p>
            </div>
            {{ form_end(form) }}
         </div>
  </div>
</div>
</div>
<div class=" col-xs-12 col-md-6 sans-marge">
     <img src="/bundles/app/images/" id="image" />
</div>  
</div>  
</div>

<script type="text/javascript">
function randomImg(){
   var tabImg = new Array();
   tabImg[0]  = "village-reille.jpg";
   tabImg[1]  = "asnieres.jpg";
   tabImg[2]  = "opale.jpg";
   tabImg[3]  = "opale-1.jpg";

 
   document.getElementById('image').src += tabImg[Math.round(Math.random()*3)];
}
</script>
{% endblock fos_user_content %}
