<h4>
    Enregistrez jusqu'à 20 photos
</h4>
<p>
    Pour une visualisation optimale, les fichiers doivent être au format .gif ou .jpeg ou .png. <br />La taille recommandée est de 765 x 570 pixels.
</p>

<div class="row">
    {% for image in images %}
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="{{ vich_uploader_asset(image, 'file') }}" alt="{{ image.fileName }}">
                <div class="caption clearfix">
                    <span class="pull-right remove-picture">
                        {% if image.id is not empty %}
                            <a href="{{ path('space_manager_removepicture', { 'id': image.id, 'token': csrf_token('remove_image') }) }}" class="btn js-btn-space" role="button" data-link-method="post">
                                <i class="fa fa-times"></i>
                            </a>
                        {% endif %}
                    </span>
                    <span>
                        {% if image.id is not empty %}
                            <a href="{{ path('space_manager_movepicture', { 'id': image.id, 'position': image.position-1, 'token': csrf_token('move_image') }) }}" class="btn {{ loop.first ? 'disabled' :'' }} js-btn-space" role="button" data-link-method="post">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <a href="{{ path('space_manager_movepicture', { 'id': image.id, 'position': image.position+1, 'token': csrf_token('move_image') }) }}" class="btn {{ loop.last ? 'disabled' :'' }} js-btn-space" role="button" data-link-method="post">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h4 class="black">
  <i class="icon small inline add-black"></i>
  Ajouter une image
</h4>

{{ form_errors(form) }}

<p>&nbsp;</p>

<div class="row">
  <div class="col-sm-7">
    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div class="col-sm-5">
    <button value="" type="submit" name="button" class="btn btn-block btn-fullcolor form-control">Enregistrer</button>
  </div>
</div>

<p>&nbsp;</p>
