<h5>
  Lots
</h5>

<table class="lots table">
  <thead>
    <tr>
      <th class="col-sm-3">Étage</th>
      <th class="col-sm-3">Type de locaux</th>
      <th class="col-sm-3">Surface</th>
      <th class="col-sm-3">Disponibilité</th>
    </tr>
    </thead>
    <tbody>
    {% for parcel in parcels if parcel.id is not empty %}
        <tr>
            <td >{{ parcel.floor }}</td>
            <td>{{ parcel.type }}</td>
            <td>{{ parcel.surface }}</td>
            <td>
                {{ parcel.disponibilityToString }}
                <a href="{{ path('space_manager_removeparcel', { 'id': parcel.id, 'token': csrf_token('remove_parcel') }) }}" class="btn js-btn-space" role="button" data-link-method="post">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="center sans-lot">Pas de lots</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h5>
 <div class="ajouter"><span class="circle"><i class="fa fa-plus"></i></span></div> {{ form.vars.label }}
</h5>

{{ form_errors(form) }}

<div class="lots table">

      <div class="col-xs-12 col-md-3">
        <div class="lots-title">{{ form_label(form.floor) }}</div>
        <div class="lots-select">{{ form_widget(form.floor) }}</div>
  </div>
      <div class="col-xs-12 col-md-3">
        <div class="lots-title">{{ form_label(form.type) }}</div>
        <div class="lots-select">{{ form_widget(form.type) }}</div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="lots-title">{{ form_label(form.surface) }}</div>
        <div class="lots-select">{{ form_widget(form.surface) }}
        {{ form_errors(form.surface) }}</div>
      </div>
      <div class="col-xs-12 col-md-3 margin-10">
        <div class="lots-title">{{ form_label(form.disponibility) }}</div>
        <div class="lots-select">{{ form_widget(form.disponibility) }}</div>
      </div>
     
        <button type="submit" class="btn btn-block form-control">
        <span>Ajouter</span>
     
      </div>




  


