<h5>
  Visites organisées
</h5>

<table class="visits table">
  <thead>
    <tr>
      <th class="col-sm-3">Date</th>
      <th class="col-sm-3">Heure de début</th>
      <th class="col-sm-3">Heure de fin</th>
      <th class="col-sm-3">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for visit in visits if visit.id is not empty %}
        <tr>
            <td>{{ visit.visitDate|date('d/m/Y') }}</td>
            <td>{{ visit.startTime|date('H:i') }}</td>
            <td>{{ visit.endTime|date('H:i') }}</td>
            <td>
                <a href="{{ path('space_manager_removevisit', { 'id': visit.id, 'token': csrf_token('remove_visit') }) }}" class="btn js-btn-space" role="button" data-link-method="post">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="center sans-visite">Aucune visite organisée</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<h5>
 <div class="ajouter"><span class="circle"><i class="fa fa-plus"></i></span></div> {{ form.vars.label }}
</h5>

{{ form_errors(form) }}

<div class="visits table">
    <div class="col-xs-12 col-md-3">
        <div class="visits-title">{{ form_label(form.visitDate) }}</div>
        <div class="visits-select">{{ form_widget(form.visitDate) }}</div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="visits-title">{{ form_label(form.startTime) }}</div>
        <div class="visits-select">{{ form_widget(form.startTime) }}
        {{ form_errors(form.startTime) }}</div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="visits-title">{{ form_label(form.endTime) }}</div>
        <div class="visits-select">{{ form_widget(form.endTime) }}
        {{ form_errors(form.endTime) }}</div>
    </div>
    <div class="col-xs-12 col-md-3">
        <button type="submit" class="btn btn-block form-control">
            <span>Ajouter</span>
        </button>
    </div>
</div>