<div class="row">
    <!-- BEGIN MAIN CONTENT -->
    <div class="main col-sm-8 col-sm-offset-2">
        <h1 class="section-title">Ajouter un espace</h1>
        <p class="center">
            Nulla a risus sed magna lobortis interdum. Praesent diam eros, iaculis gravida sollicitudin nec, convallis ac elit. Vivamus id enim malesuada, condimentum tellus eu, facilisis enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Quisque turpis purus, commodo ac mi nec, molestie euismod nulla. Nunc at placerat ante. Aliquam rhoncus et neque sed faucibus. Aenean auctor imperdiet dui.
        </p>
    </div>
</div>

{{ form_start(form) }}
<div class="row">
    <div class="main col-sm-8 col-sm-offset-2">
        <h2 class="section-title">Votre espace</h2>

        {{ form_errors(form) }}

        <div class="row">            
            <div class="col-sm-12">
                {{ form_row(form.name) }}
            </div>
        </div>
            
        <div class="row">            
            <div class="col-sm-6">
                {{ form_row(form.zipCode) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.city) }}
            </div>
        </div>            
            
        <div class="row">            
            <div class="col-sm-6">
                {{ form_row(form.limitAvailability) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.availability) }}
            </div>
        </div>       
            
        <div class="row">            
            <div class="col-sm-6">
                {{ form_row(form.type) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.price) }}
            </div>
        </div>               

        <div class="row">
            <div class="col-sm-12">
                {{ form_row(form.description) }}
            </div>
        </div>            
            
        <div class="row form-group">
            <div class="col-sm-12">
                {{ form_row(form.activityDescription) }}
            </div>
        </div>
            
        <h2 class="section-title">Prestations et services</h2>
               
        <div class="row">
            <div class="col-sm-12">
                {% include '@App/SpaceManagement/Partials/_space_attributes_form.html.twig' with { 'form': form.tags } %}
            </div>
        </div>              
            
        <h2 class="section-title">Répartition des surfaces</h2>
        
        <div class="row">
            <div class="col-sm-12">
                {% include '@App/SpaceManagement/Partials/_space_parcels_form.html.twig' with { 'parcels': form.vars.data.parcels,'form': form.newParcel } %}
            </div>
        </div>   
                
        <h2 class="section-title">Photos</h2>

        <div class="row">
            <div class="col-sm-12">
                {% include '@App/SpaceManagement/Partials/_space_images_form.html.twig' with { 'images': form.vars.data.pics,'form': form.newImage } %}
            </div>
        </div>   

        <h2 class="section-title">Publication</h2>

        <p class="center">
            Attention une fois publiée, vous ne pourrez pas modifier l'annonce sans intervention d'un administrateur.
        </p>
        
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                {{ form_widget(
                    form.publish, {
                        'attr': {
                            'class': 'btn btn-fullcolor form-control',
                            'onclick': "return confirm('Êtes-vous sûr de vouloir continuer?')"
                        }
                    })
                }}
            </div>
        </div>                
                
        <p>&nbsp;</p>
        <p>&nbsp;</p>    
    </div>
</div>
<div style="display: none;">{{ form_rest(form) }}</div>
{{ form_end(form) }}
         