<div class="row">

    <!-- BEGIN MAIN CONTENT -->
    <div class="main col-sm-8 col-sm-offset-2">
        <h1 class="section-title">Ajouter un espace</h1>
        <center>
            <p>
                Nulla a risus sed magna lobortis interdum. Praesent diam eros, iaculis gravida sollicitudin nec, convallis ac elit. Vivamus id enim malesuada, condimentum tellus eu, facilisis enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Quisque turpis purus, commodo ac mi nec, molestie euismod nulla. Nunc at placerat ante. Aliquam rhoncus et neque sed faucibus. Aenean auctor imperdiet dui.
            </p>
        </center>
    </div>
</div>

{{ form_start(form) }}
<div class="row">
    <div class="main col-sm-8 col-sm-offset-2">
        <h1 class="section-title">Votre espace</h2>

        <div class="row">            
            <div class="col-sm-12">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
        </div>
            
        <div class="row">            
            <div class="col-sm-6">
                {{ form_label(form.zipCode) }}
                {{ form_widget(form.zipCode) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(form.city) }}
                {{ form_widget(form.city) }}
            </div>
        </div>            
            
        <div class="row">            
            <div class="col-sm-6">
                {{ form_label(form.limitAvailability) }}
                {{ form_widget(form.limitAvailability) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(form.availability) }}
                {{ form_widget(form.availability) }}
            </div>
        </div>       
            
        <div class="row">            
            <div class="col-sm-6">
                {{ form_label(form.type) }}
                {{ form_widget(form.type) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
            </div>
        </div>               

        <div class="row">
            <div class="col-sm-12">
                {{ form_label(form.description)}}
                {{ form_widget(form.description) }}
            </div>
        </div>            
            
        <div class="row form-group">
            <div class="col-sm-12">
                {{ form_label(form.activityDescription)}}
                {{ form_widget(form.activityDescription) }}
            </div>
        </div>
            
        <h1 class="section-title">Prestations et services</h1>
               
        <div class="row">
            <div class="col-sm-12">
                <table class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                    {# itère sur chaque tag existant et affiche son unique champ : name #}
                    {% for tag in form.tags %}
                        <li>{{ form_row(tag.name) }}</li>
                    {% endfor %}
                </table>
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="button" value="Ajouter un attribut" class="btn btn-fullcolor form-control" id="addAttribute">
                </div>
            </div>
        </div>              
            
        <h1 class="section-title">Répartition des surfaces</h1>    
        
        <div class="row">
            <div class="col-sm-12">
                <table class="lots" data-prototype="{{ form_widget(form.parcels.vars.prototype)|e }}">
                    {# itère sur chaque tag existant et affiche son unique champ : name #}
                    {% for parcel in form.parcels %}
                        <li>{{ form_row(parcel.name) }}</li>
                    {% endfor %}
                </table>
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="button" value="Ajouter un lot" class="btn btn-fullcolor form-control" id="addLot">
                </div>
            </div>
        </div>   
                
        <h1 class="section-title">Photos</h1>                  

        <div class="row">
            <div class="col-sm-12">
                <table class="photos" data-prototype="{{ form_widget(form.pics.vars.prototype)|e }}">
                    {# itère sur chaque tag existant et affiche son unique champ : name #}
                    {% for pic in form.pics %}
                        <li>{{ form_row(parcel.pic) }}</li>
                    {% endfor %}
                </table>
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="button" value="Ajouter une photo" class="btn btn-fullcolor form-control" id="addPhoto">
                </div>
            </div>
        </div>   

        <h1 class="section-title">Publication</h1>  
        
        <center>
            <p>
                Attention une fois publiée, vous ne pourrez pas modifier l'annonce sans intervention d'un administrateur.
            </p>
        </center>
        
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <input type="submit" value="Publier" class="btn btn-fullcolor form-control" onclick="return confirm('Êtes-vous sûr de vouloir continuer?')">
            </div>
        </div>                
                
        <p>&nbsp;</p>
        <p>&nbsp;</p>    
    </div>
</div>
<div style="display: none;">{{ form_rest(form) }}</div>
{{ form_end(form) }}
         