
<div class="white"> 
        <div class="container"> 
<div class="bkg-img"></div>
     
    <div class="row top-profil">
        <!-- BEGIN MAIN CONTENT -->
        <div class=" col-sm-12">
            <div class="titre-page">
        <h1>
          {{ 'Ajouter un espace' }}
        </h1>
         <div class="img-aac"><img src="{{ asset('/public/images/groupe_ajouter_espace.png') }}" alt="Plateau Urbain" /></div>
         </div>
            </div>
            <div class="col-sm-8">
            <p class="left">
            Pour ajouter une offre sur la plate-forme Plateau urbain, il vous suffit de remplir le formulaire ci-dessus.<br /> A tout moment, vous pouvez enregistrer le formulaire et reprendre son édition ultérieurement. Une fois complet, procédez à sa validation : un administrateur du site interviendra pour s’assurer qu’elle est complète et procéder à sa mise en ligne.
            </p>     
    </div>
</div>

<div class="row">
        <div class=" col-xs-1 bkg ">
            <ul>
                <li>
                    <a class="indicator active" href="#one"></a>
                </li>
                <li>
                    <a class="indicator" href="#two"></a>
                </li>
                <li>
                    <a class="indicator" href="#three"></a>
                </li>
                <li>
                    <a class="indicator" href="#four"></a>
                </li>
                
            </ul>
        </div>     


{{ form_start(form) }}
<div class="main col-xs-10">
    <div id="one" class="section">
        <span class="section-title form-one"></span>
            <div  class="form-contener bleu">
            <h3>Votre espace</h3>
         
 {{ form_errors(form) }}
     
            <div class="row">
                <div class="col-sm-12 form-group">
                    {{ form_row(form.name) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    {{ form_row(form.zipCode) }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form_row(form.city) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    {{ form_row(form.limitAvailability) }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form_row(form.availability) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-sm-6 form-group">
                    {{ form_row(form.price) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group">
                    {{ form_row(form.description) }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12 form-group">
                    {{ form_row(form.activityDescription) }}
                </div>
            </div>
        </div>
    </div>



    <div id="two" class="section">
        <span class="section-title form-two"></span>
        <div class="form-contener bleu">
            <h3>
                Photos du lieu
            </h3>
            <div class="row">
                <div class="col-sm-12">
                    {% include '@App/SpaceManagement/Partials/_space_images_form.html.twig' with { 'images': form.vars.data.pics,'form': form.pics } %}
                </div>
            </div>
        </div>
    </div>

    <div id="three" class="section">
        <span class="section-title form-three"></span>
        <div class="form-contener bleu">
            <h3>
                Pièce(s) demandée(s)
            </h3>
            <div class="row">
                <div class="col-sm-12">
                    {% include '@App/SpaceManagement/Partials/_space_documents_form.html.twig' with { 'documents': form.vars.data.documents,'form': form.newDocument } %}
                </div>
            </div>
        </div>
    </div>

    <div id="four" class="section">
        <span class="section-title form-four"></span>
        <div class="form-contener bleu">
            <h3>
                Documents ressources
            </h3>
            <div class="row">
                <div class="col-sm-12">
                {% include '@App/SpaceManagement/Partials/_space_required_form.html.twig' with { 'form': form, 'space': space } %}
               
                </div>
            </div>
        </div>
    </div>



        <div class="row btns">
            <div class="col-sm-12">
                {{ form_widget(
                    form.preview, {
                        'attr': {
                            'class': 'btn btn-line-s',
                        }
                    })
                }}

                <input type="submit" value="Enregistrer" class="btn btn-line-s save" data-save='Vous pourrez compléter votre saisie depuis la rubrique "Mes espaces"'>

               {{ form_widget(
                    form.publish, {
                        'attr': {
                            'class': 'btn btn-line-s js-publish',
                            'onclick': "return confirm(\'Attention une fois publiée, vous ne pourrez pas modifier cette annonce sans intervention d\\\'un administrateur. Êtes-vous sûr de vouloir continuer?');"
                        }
                    })
                }}
            </div>
        </div> <!--end row btns-->


<div style="display:none;">{{ form_rest(form) }}</div>
{{ form_end(form) }}

</div>
</div>
</div>




<div class="content plusinfos margin">
    <div class="container">
        <div class="row pu-home-content info">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <h4>Vous souhaitez obtenir plus d'informations</h4>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4  btn-right">
                <a href='https://staging.plateau-urbain.com/contactez-nous/' target="_blank" class='btn btn-line'><span>Contactez-nous</span></a>
            </div>
        </div>
    </div>
</div>


