<div class="col-sm-12">
  <div class="item application-space space-card list-aac">

    <div class="row row-flex">
      <div class="col-xs-12 col-md-4">
        <div class="image">
          <div class="overlay">
            {% if space.isClosed %}
              <div class="clos"><p> Appel à candidature cloturé</p></div>
            {% elseif not space.isSubmitted and not space.isEnabled %}
              <div class="enedition"><p> En cours d'édition</p></div>
            {% elseif not space.isSubmitted and space.isEnabled %}
              <div class="encours"><p> Appel à candidature en cours </p></div>
            {% endif %}
          </div>

          <div class="image-wrapper">
            <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') }}{% endif %}" alt="" />
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-8 box-info">
        <div class="info">
          <div class="row">
            <div class="col-sm-7">
                <p class="ville">{{ space.city }} ({{ space.zipCode|slice(0,2)}})</p>
                <h5>{{ space.name }}</h5>
                 {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}
            </div>
            <div class="col-sm-5 right">
               <p><a href="{{ path('space_show', {'id': space.id}) }}"class="red"><span class="sub-arrow"><i class="fa fa-square"></i></span>Voir l'annonce</a> </p>             
            </div>
          </div>

          <div class="row">
            <ul>
             
              <li>{{ space.type }}</li>
              <li>À partir de: {{ space.price }}€/m²/mois <small class="sub">H.C. H.T.<sup>1</sup></li>
               <li>{{ space.parcels | length }} espace(s)
              de {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup></li>
              </ul>
             </div>
          </div> 

        
           
             
              <div class="block-content">
                <div class="row row-flex">
                 <div class="col-xs-12 col-md-3">
                  <div class="candidats">
                  <i class="icon small user-brown"></i>
                    <h4>{{ space.nbValidApplication }}</h4> 
                  </div>
                    <h6>candidature(s)</h6>   
              </div>
                
                  <div class="col-xs-12 col-md-6 status-cards">
                    <div class="label-status awaiting">
                      <i class="fa fa-hourglass-half"></i>&nbsp;
                      {{ space.nbApplication(constant('AppBundle\\Entity\\Application::WAIT_STATUS'))  }} en attente
                    </div>
                  
                    <div class="label-status rejected">
                      <i class="fa fa-times"></i>&nbsp;
                      {{ space.nbApplication(constant('AppBundle\\Entity\\Application::REJECT_STATUS'))  }} refusées
                    </div>
                
                    <div class="label-status accepted">
                      <i class="fa fa-check"></i>&nbsp;
                      {{ space.nbApplication(constant('AppBundle\\Entity\\Application::ACCEPT_STATUS'))  }} acceptées
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-3 right">
              <p><a href="{{ path('space_manager_candidates', {'id' : space.id}) }}" class="red"><span class="sub-arrow"><i class="fa fa-square"></i></span>Voir les candidats</a></p>
            </div>
                </div>
                  </div>  
                <div class="clearfix"></div>
              
            
        
            <div class="aac-action">
                 <div class="row">    
                       <div class="col-sm-6">
                            <div class="calendar"></div>
                            <div class="apply-date">
                            <p class="apply-date-p">Date limite de candidature</p>
                            <p class="apply-date-b">
                  {{ space.limitAvailability | localizeddate("long", "none") }} à {{ space.limitAvailability|date('H') }}h
                  </p>
                      </div>

      </div>
         
            
            <div class="col-sm-6 right align-btn">
              {% if not space.submitted and not space.enabled and not space.isClosed %}
                <a href="{{ path('space_manager_edit', { 'id': space.id }) }}" class="btn btn-line-19 "><span>Modifier</span></a>
              {% endif %}
            
              {% if space.isEnabled and not space.isClosed %}
                <a href="{{ path('space_manager_close', {'id' : space.id}) }}" class="btn btn-line-19 " onClick="return confirm('Êtes-vous sûr de vouloir clôturer cet espace ?');"><span>Clôturer</span></a>
              {% elseif not space.isEnabled %}
                <a href="{{ path('space_manager_delete', {'id' : space.id}) }}" class="btn btn-line-19" onClick="return confirm('Êtes-vous sûr de vouloir supprimer cet espace ?');"><span>Supprimer</span></a>
              {% endif %}
            </div>
         </div>

          </div>  
        </div>
      </div>

  </div>
</div>


