<div class="item col-md-4"><!-- Set width to 4 columns for grid view mode only -->
    <div class="image">
        <a href="{{ path('space_show', {'id': space.id}) }}">
            <span class="btn btn-default"><i class="fa fa-file-o"></i> Details</span>
        </a>
        <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') | imagine_filter('square')  }}{% endif %}" alt="" />
    </div>
    <div class="price">
        <i class="fa fa-home"></i>{% if space.type %}{{ space.type.name }}{% endif %}
        <span>{{ space.price }}€ /m²/mois</span>
    </div>
    <div class="info">
        <h3>
            <a href="{{ path('space_show', {'id': space.id}) }}">{{ space.name }}</a>
            <small>{{ space.zipCode }} {{ space.city }}</small>
        </h3>
        <p>
            Description : {{ space.description }} <br/><br/>
            ActivityDescription : {{ space.activityDescription }}<br/><br/>
            Size : {{ space.size }} <br/>
            NbLot : {{ space.parcels | length }}

        </p>

        <ul class="amenities">
            <li><i class="icon-area"></i> Dispo: {{ space.availability }}</li>
            <li><i class="icon-bedrooms"></i> Limite Candidature : {{ space.limitAvailability | date("d/m/Y") }}</li>
        </ul>

        <div>
            {% if context == 'manage_list' %}
                {% if space.published %}
                   <a href="{{ path('space_manager_candidates', {'id' : space.id}) }}" class="btn btn-fullcolor">Voir les candidats</a>
                    {% if space.closed == false %}
                        <a href="{{ path('space_manager_close', {'id' : space.id}) }}" class="btn btn-fullcolor">Clotûrer</a>
                    {% endif %}
                {% endif %}
                {% if not space.submitted %}
                    <a href="{{ path('space_manager_edit', { 'id': space.id }) }}" class="btn btn-fullcolor">Publier</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
