<div class="col-sm-12">
  <div class="item application-space space-card">
    <div class="row">
      <div class="col-sm-4">
        <div class="image">
          <div class="overlay">
            {% if space.isClosed %}
              <img src="{{ asset('/bundles/app/images/closed.png')  }}" alt=""/>
            {% elseif not space.isSubmitted and not space.isEnabled %}
              <img src="{{ asset('/bundles/app/images/edit.png')  }}" alt=""/>
            {% endif %}

          </div>
          <div class="image-wrapper">
            <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') | imagine_filter('square')  }}{% endif %}" alt="" />
          </div>
        </div>
      </div>

      <div class="col-sm-8">

        <div class="info">
          <div class="row">

            <div class="col-sm-7">
              <h3>
                <small>{{ space.city }} ({{ space.zipCode|slice(0,2)}})</small>
                {{ space.name }} {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}<br/>
                <a href="{{ path('space_show', {'id': space.id}) }}">Voir l'annonce</a>
              </h3>
            </div>
            <div class="col-sm-5">
              <h3 class="price">
                <small>À partir de</small>
                {{ space.price }}€/m²/mois
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 item-desc block">
              <div class="block-content">
                <dl class="dl-horizontal dl-with-icon no-margin">
                  <dt><i class="icon small user-brown"></i></dt>
                  <dd>
                    <span class="dd-title">
                      <strong>{{ space.nbValidApplication }}</strong> candidatures
                    </span>
                  </dd>
                </dl>

                <div class="row status">
                  <div class="col-sm-4">
                    <div class="label-status awaiting">
                      <i class="fa fa-hourglass-half"></i>&nbsp;
                      {{ space.nbApplication(constant('AppBundle\\Entity\\Application::WAIT_STATUS'))  }} en attente
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="label-status rejected">
                      <i class="fa fa-times"></i>&nbsp;
                      {{ space.nbApplication(constant('AppBundle\\Entity\\Application::REJECT_STATUS'))  }} refusées
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="label-status accepted">
                      <i class="fa fa-check"></i>&nbsp;
                      {{ space.nbApplication(constant('AppBundle\\Entity\\Application::ACCEPT_STATUS'))  }} acceptées
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-sm-4 item-desc block">
              <div class="block-content">
                <dl class="dl-horizontal dl-with-icon">
                  <dt><i class="icon small time-brown"></i></dt>
                  <dd>
                    <span class="dd-title">Date limite de candidature</span><br/>
                    {{ space.limitAvailability | localizeddate("long", "none") }} à {{ space.limitAvailability|date('H') }}h
                  </dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <a href="{{ path('space_manager_candidates', {'id' : space.id}) }}" class="btn btn-status btn-grey">Voir les candidats</a>
            </div>
            <div class="col-sm-4">
              {% if not space.submitted and not space.enabled and not space.isClosed %}
                <a href="{{ path('space_manager_edit', { 'id': space.id }) }}" class="btn btn-status btn-grey">Modifier</a>
              {% endif %}
            </div>
            <div class="col-sm-4">
              {% if space.isEnabled and not space.isClosed %}
                <a href="{{ path('space_manager_close', {'id' : space.id}) }}" class="btn btn-status btn-yellow" onClick="return confirm('Êtes-vous sûr de vouloir clôturer cet espace ?');">Clôturer</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
