{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="colorBox-content registration">

        <img class="icon" src="{{ asset('/bundles/app/images/lock_icon.png') }}" />

        <h4>Connexion</h4>

        <div class="alert alert-danger alert-error">
            {% for msg in app.session.flashbag.get('error_msg')  %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
        {% if error is defined and error%}
            <div class="alert alert-danger alert-error">
                Login ou mot de passe incorrect
            </div>
        {% endif %}

        <div id="cboxContent white">

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/user_login.png') }}" alt="user" class="closed" /></span>
                        <input type="text" placeholder="Votre email" id="username" name="_username" value="" required="required" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/lock_login.png') }}" alt="mdp" class="closed"/></span>
                        <input type="password" placeholder="Votre mot de passe" id="password" name="_password" required="required" class="form-control"/>
                    </div>
                </div>

                <input type="submit" id="_submit" name="_submit" value="Je me connecte" class="btn btn-line-login"/>


            </form>

            <hr class="black"/>

            <div class="text-left">
                <p class="forgotten"><a href="{{ path('fos_user_resetting_request') }}">Identifiant ou mot de passe oublié ?</a></p>
            </div>

            <div class="text-left">
                <p>
                    Vous n'avez pas de compte Plateau Urbain?
                    <br />
                    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
