<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Plateau Urbain{% endblock %}</title>
        <meta name="keywords" content="plateau, urbain" />
        <meta name="description" content="Créée en juillet 2013, Plateau Urbain est une association proposant de jouer le rôle d’interface entre propriétaires et porteurs de projets, pour redonner vie à des immeubles vacants et soutenir des projets associatifs, entreprenariaux et culturels" />

        <!-- Mobile Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!-- Fav and touch icons -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('/bundles/app/images/fav_touch_icons/favicon.ico') }}" />

        <!-- IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Google-Fonts Embeded -->
        <!-- Raleway -->
        {% stylesheets  'bundles/app/css/Raleway.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?family=Raleway:300,500,900%7COpen+Sans:400,700,400italic" media="all" />
        {% endstylesheets  %}
        <!-- Roboto -->
        {% stylesheets  'bundles/app/css/Roboto.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?family=Roboto:300,400,500,700" media="all" />
        {% endstylesheets  %}

        <!-- Template CSS -->
        {% stylesheets  'bundles/app/css/bootstrap.min.css'
        'bundles/app/css/style.css'
        'bundles/app/css/main.css'

        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all" />
        {% endstylesheets  %}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block breadcrumb %}
            <div class="breadcrumb-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="breadcrumb">
                                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                                {% block breadcrumb_items %}{% endblock %}
                            </ul>
                            <p class="clearfix"></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}

        <div class="content">
            <div class="container pb100">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            </div>
        </div>

        {% include '/Partials/footer.html.twig' %}
    </body>
</html>
