{% extends "::base.html.twig" %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('security_profil') }}">Mon compte</a>
    </li>
    <li>
        <a href="{{ path('space_manager_list') }}">Liste de mes espaces</a>
    </li>
    <li>
        <a href="{{ path('space_show', { 'id': application.space.id }) }}">{{ application.space.name }}</a>
    </li>
    <li>
        <a href="{{ path('space_manager_candidates', { 'id': application.space.id }) }}">Liste des candidats</a>
    </li>
    <li>
        <span>Fiche candidat</span>
    </li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/app/css/print.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

<div class="application-header center">
    <h1>{{ application.name }}</h1>
    <h2>{{ application.projectHolder.company }}</h2>

    {% if not application.isDraft %}
    <p>Candidature envoyée le {{ application.created|date('d/m/Y') }}</p>
    {% endif %}

    <div class="application-status">
        <p>Statut de la candidature</p>
        {% include '@App/Application/partials/_status_label.html.twig' %}
    </div>
</div>

{% set space = application.space %}
<div class="application-space space-card" id="space-card">
    <div class="row">
        <div class="col-sm-4">
            {% if space.pics.first %}
                <img src="{{ vich_uploader_asset(space.pics.first, 'file')|imagine_filter('product_thumb') }}" alt="{{ space.pics.first.fileName }}" class="img-responsive">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="space-title">
                        <small>{{ space.city }} ({{ space.zipCode|slice(0,2)}})</small>
                        {{ space.name }} {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}
                    </h2>
                    <a href="{{ path('space_show', {'id' : space.id}) }}">Voir l'annonce</a>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="space-price">
                        À partir de
                        <strong>{{ space.price }}€/m²/mois</strong>
                        H.C. H.T.<sup>1</sup>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="detail-icon">
                            <i class="fa fa-square-o"></i>
                        </div>
                        <h4 class="detail-title">
                          <strong>{{ space.parcels | length }}</strong> espaces
                        </h4>
                        <p class="detail-description">
                            De {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="detail">
                        <div class="detail-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <h4 class="detail-title">
                            Disponibilités
                        </h4>
                        <p class="detail-description">
                            {{ space.availability }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="detail last">
                        <div class="detail-icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <h4 class="detail-title">
                            Date limite de candidature
                        </h4>
                        <p class="detail-description">
                            {{ space.limitAvailability | localizeddate("long", "none") }} à {{ space.limitAvailability|date('H') }}h
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <a href="{{ path('space_manager_candidates', {'id' : space.id}) }}" class="btn btn-block btn-secondary">Voir les candidats</a>
                </div>
                <div class="col-sm-4">
                    {% if space.isEnabled and not space.isClosed %}
                        <a href="{{ path('space_manager_close', { 'id': space.id }) }}" class="btn btn-block btn-secondary">Clôturer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="box-information">
            <h4 class="box-title">
                Contact
            </h4>

            <div class="box-content">
                <table>
                    <tbody>
                        <tr>
                            <th>Candidat</th>
                            <td>{{ application.projectHolder.fullName }}</td>
                        </tr>
                        <tr>
                            <th>Date de naissance</th>
                            <td>{{ application.projectHolder.birthday|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ application.projectHolder.email }}</td>
                        </tr>
                        <tr>
                            <th>À propos</th>
                            <td>{{ application.projectHolder.description|nl2br }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box-information">
            <h4 class="box-title">
                Réseaux sociaux
            </h4>

            <div class="box-content">
                <table>
                    <tbody>
                    <tr>
                        <th>
                            <i class="fa fa-facebook"></i>
                        </th>
                        <td>
                            {{ application.projectHolder.facebookUrl }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <i class="fa fa-twitter"></i>
                        </th>
                        <td>
                            {{ application.projectHolder.twitterUrl }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <i class="fa fa-instagram"></i>
                        </th>
                        <td>
                            {{ application.projectHolder.instagramUrl }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <i class="fa fa-google-plus"></i>
                        </th>
                        <td>
                            {{ application.projectHolder.googleUrl }}

                        </td>
                    </tr>
                    <tr>
                        <th>
                            <i class="fa fa-linkedin"></i>
                        </th>
                        <td>
                            {{ application.projectHolder.linkedinUrl }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <i class="fa fa-link"></i>
                        </th>
                        <td>
                            {{ application.projectHolder.otherUrl }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box-information">
            <h4 class="box-title">
                Structure
            </h4>

            <div class="box-content">
                <table>
                    <tbody>
                    <tr>
                        <th>Nom de la structure</th>
                        <td>{{ application.projectHolder.company }}</td>
                    </tr>
                    <tr>
                        <th>Statut</th>
                        <td>{{ application.projectHolder.companyStatus }}</td>
                    </tr>
                    <tr>
                        <th>Date de création</th>
                        <td>
                            {% if application.projectHolder.companyCreationDate %}
                                {{ application.projectHolder.companyCreationDate|date("d/m/Y") }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>SIRET</th>
                        <td>{{ application.projectHolder.siret }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ application.projectHolder.address }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone fixe</th>
                        <td>{{ application.projectHolder.companyPhone }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone mobile</th>
                        <td>{{ application.projectHolder.companyMobile }}</td>
                    </tr>
                    <tr>
                        <th>Présentation</th>
                        <td>{{ application.projectHolder.companyDescription|nl2br }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de personnes dans la structure</th>
                        <td>{{ application.projectHolder.companyEffective }}</td>
                    </tr>
                    <tr>
                        <th>Structure(s) d'accompagnement</th>
                        <td>{{ application.projectHolder.companyStructures|nl2br }}</td>
                    </tr>
                    <tr>
                        <th>Site web</th>
                        <td>{{ application.projectHolder.companySite }}</td>
                    </tr>
                    <tr>
                        <th>Blog</th>
                        <td>{{ application.projectHolder.companyBlog }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="box-information">
            <h4 class="box-title">
                Projet pour cet espace
            </h4>

            <div class="box-content">
                <table>
                    <tbody>
                    <tr>
                        <th>Nom du projet</th>
                        <td>
                            {{ application.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>Type d'usage</th>
                        <td>{{ application.projectHolder.useType }}</td>
                    </tr>
                    <tr>
                        <th>Type de projet</th>
                        <td>{{ application.category }}</td>
                    </tr>
                    <tr>
                        <th>Surface recherchée</th>
                        <td>{{ application.wishedSize }} m<sup>2</sup></td>
                    </tr>
                    <tr>
                        <th>Durée d'occupation</th>
                        <td>
                            {{ application.fullLengthOccupation }}
                        </td>
                    </tr>
                    <tr>
                        <th>Date d'entrée souhaitée</th>
                        <td>{{ application.startOccupation|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ application.description|nl2br }}</td>
                    </tr>
                    <tr>
                        <th>Ouvert(e) à un projet collectif</th>
                        <td>
                            {{ application.openToGlobalProject ? 'Oui' : 'Non' }}
                        </td>
                    </tr>
                    <tr>
                        <th>Contribution au projet global du propriétaire</th>
                        <td>
                            {{ application.contribution|nl2br }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box-information">
            <h4 class="box-title">
                Documents disponibles
            </h4>

            <div class="box-content">
                <table>
                    <tbody>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <a href="javascript:print();" class="btn btn-secondary">Imprimer candidature</a>
    </div>
    <div class="col-sm-3">
        <a href="" class="btn btn-secondary">Ajouter à ma sélection</a>
    </div>
    {% if application.status == constant('AppBundle\\Entity\\Application::WAIT_STATUS') %}
    <div class="col-sm-3">
        <a href="" class="btn btn-secondary js-modalAction" data-type="accept" data-id="{{ application.id }}">Accepter ce dossier</a>
    </div>
    <div class="col-sm-3">
        <a href="" class="btn btn-secondary js-modalAction" data-type="refuse" data-id="{{ application.id }}">Envoyer un refus</a>
    </div>
    {% endif %}
</div>

<div class="pagination-wrapper">
        <ul class="pagination">

            <li class="disabled">
                {% if prevApplication %}
                    <a href="{{ path('application_show', { 'id': prevApplication.id }) }}" aria-label="Next">
                        <span aria-hidden="true">⟨</span>
                    </a>
                {% else %}
                    <span aria-label="Previous">
                        <span aria-hidden="true">⟨</span>
                    </span>
                {% endif %}
            </li>

            <li>
                {% if nextApplication %}
                <a href="{{ path('application_show', { 'id': nextApplication.id }) }}" aria-label="Next">
                    <span aria-hidden="true">⟩</span>
                </a>
                {% else %}
                    <span aria-label="Next">
                        <span aria-hidden="true">⟩</span>
                    </span>
                {% endif %}
            </li>

        </ul>
    </div>

<div style="display: none;">
    <div id="accept_content">
        <form action="{{ path('space_manager_candidates', {'id' : space.id}) }}#accept_confirm" method="post">
            <div class="colorBox-content">
                <h4>Accepter cette candidature</h4>
                <br />
                <p>Vous allez accepter ce dossier de candidature</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis diam nec lacus porta, vel tempor augue viverra. </p>

                <textarea name="message" rows="5" class="form-control"></textarea>
                <input type="submit" value="Accepter" class="btn btn-fullcolor">
                <input type="hidden" name="action" value="accept" />
                <input type="hidden" name="applications" value="" />
            </div>
        </form>
    </div>
    <div id="refuse_content">
        <form action="{{ path('space_manager_candidates', {'id' : space.id}) }}#refuse_confirm" method="post">
            <div class="colorBox-content">
                <h4>Refuser cette candidature</h4>
                <br />
                <p>Vous allez refuser cette candidature</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis diam nec lacus porta, vel tempor augue viverra. </p>

                <textarea name="message" rows="5" class="form-control"></textarea>
                <input type="submit" value="Refuser" class="btn btn-fullcolor">
                <input type="hidden" name="action" value="refuse" />
                <input type="hidden" name="applications" value=""/>
            </div>
        </form>
    </div>
</div>


{% endblock body %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {

        $(".js-modalAction").click(function () {
            var ids = '' + $(this).data('id');

            console.log(ids);

            $('input[name="applications"]').val(ids);

            $.colorbox({
                width: "400px",
                html: $('#' + $(this).data('type') + '_content').html()
            });

            return false;
        });
    });
</script>
{% endblock %}