<!-- BEGIN HOME MAP -->
<div id="home-map">
    <div id="properties_map"></div>

    <!-- BEGIN MAP PROPERTY FILTER -->
    <div id="map-property-filter">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <i id="filter-close" class="fa fa-minus"></i>
                    {{ form_start(form, {'attr': {'id':'searchForm'} } )  }}
                    <div class="form-group">

                        <div class="form-control-large">
                            {{ form_widget(form.localType) }}

                        </div>

                        <div class="form-control-large">
                            {{ form_widget(form.minimumPrice) }}
                        </div>

                        <div class="form-control-large">
                            {{ form_widget(form.maximumPrice) }}
                        </div>

                        <div class="form-control-large">
                            {{ form_widget(form.minimumSurface) }}
                        </div>

                        <div class="form-control-large">
                            {{ form_widget(form.maximumSurface) }}
                        </div>

                        <button type="submit" class="btn btn-fullcolor">Rechercher</button>
                    </div>
                    <div class="hidden">
                        {{ form_rest(form) }}
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
    <!-- END MAP PROPERTY FILTER -->
</div>
<!-- END HOME MAP -->