{% extends "::base.html.twig" %}

{% block breadcrumb %}{% endblock %}

{% block prebody %}
    {% include "AppBundle:Search:_map.html.twig" with {'form' : form } %}
{% endblock %}


{% block body %}

<!-- BEGIN PROPERTY LISTING -->
<br />
    <div class="row last-space" id="js-results">
        <h2 class="section-title animate-from-bottom animation-from-bottom" data-animation-direction="from-bottom" data-animation-delay="50">Les derniers espaces disponibles</h2>

        {% for space in latest %}
            <div class="item col-sm-4 space_item"><!-- Set width to 4 columns for grid view mode only -->
                <a href="{{ path('space_show', {'id' : space.id}) }}" target="_blank">
                    <div class="image">
                        <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') | imagine_filter('square')  }}{% endif %}" alt="" />
                    </div>
                    <div class="price_contener">
                        <span class="top">à partir de</span><br />
                        <span class="price">{{ space.price }}€</span><span> /M<sup>2</sup>/MOIS</span><span class="legend"> H.C. - H.T.<sup>1</sup></span>
                    </div>
                    <div class="foot">
                        <p>{{ space.type }} à {{ space.city }} ({{ space.depCode }})</p>
                        <h3>{{ space.name }} {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>

{% endblock %}

{% block partners %}
    <div class="js-partners">
        <div class="container pb100">
            {% include '@App/Default/_partners.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% include "AppBundle:Search:_map_js.html.twig" with {'departements' : departements} %}
{% endblock %}