{% extends "::base.html.twig" %}

{# {% block breadcrumb %}{% endblock %} #}

{% block prebody %}

{% endblock %}

{#{% block containerbkg %}
  <div class="top"></div>
{% endblock %}#}

{#{% block prebody %}
#}{#    {% include "AppBundle:Search:_map.html.twig" with {'form' : form } %} #}{#
    {% include "AppBundle:Search:_search_form.html.twig" with {'form' : form } %}
{% endblock %}#}


{% block body %}
    </div>
</div>

<div class="content beige">
        <div class="container">
    <section class='row pu-home-content accroche'>
        <div class='col-sm-12 '>
            <div class="image-home"></div>
            <h2 class="center">Vous cherchez un espace de travail abordable dans un lieu vivant et créatif</h2>
            <h4>Consultez nos appels à candidatures en cours et inscrivez-vous pour être informé·es <span class="nowrap">dès leurs lancements !</span></h4>
            <div class="center">
                <a href='http://www.plateau-urbain.com' target="_blank" class='btn btn-line'><span>Je m'inscris</span></a>
            </div>
        </div>
    </section>
                </div>
        </div>
    </div>
</div>

<div class="content separateur">
        <div class="container">
                    <div class="row pu-home-content">
                       
        <div class='col-sm-12 left'>
            <a href='http://localhost:8080/recherche/#proprio' target="_blank" class='btn btn-ancre'><h6>Vous êtes propriétaire d'un batîment ?</h6></a>
            <a href='http://localhost:8080/recherche/#faq' target="_blank" class='btn btn-ancre'><h6>Vous avez des questions ? Consultez la FAQ</h6></a>
        </div>
</section>
        </div>
    </div>
</div>
<div class="aac"></div>
<div class="content white">
        <div class="container">
                    <div class="row pu-home-content">
                        <div class="col-sm-12 center">
        <div class="candidature">
                <h2>Les derniers appels à candidatures</h2>
        </div>
    </div>




<!-- BEGIN PROPERTY LISTING -->
    <div class="row last-space row-flex" id="js-results">


{#        <h2 class="section-title animate-from-bottom animation-from-bottom" data-animation-direction="from-bottom" data-animation-delay="50">Les espaces disponibles</h2>#}

        {% if latest|length %}
            {% for space in latest %}
                <div class="item col-xs-12 col-md-6 col-lg-4">
                     <div class="space_item">
                    <!-- Set width to 4 columns for grid view mode only -->
                    <a href="{{ path('space_show', {'id' : space.id}) }}" >
                        <div class="image">
                            <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') }}{% endif %}" alt="" />
                        </div>
{#                        <div class="price_contener">
                            <span class="top">à partir de</span><br />
                            <span class="price">{{ space.price }}€</span><span> /M<sup>2</sup>/MOIS</span>
                        </div>#}
                        <div class="foot">
                            <p class="ville">{{ space.city }} ({{ space.depCode }})</p>
                            <h6>{{ space.name }}</h6>
                            <ul>
                            <li>{{ space.type }}</li>
                            <!-- AJOUT OLIVIER -->
                            <li>
                                À partir de {{ space.price * 12 }} € / m<sup>2</sup> / an
                            </li>
                            <li>
                                <strong>{{ space.parcels | length }}</strong> espaces de {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup>
                            </li>
                        </ul>
                        <div class="calendar"></div>
                            <div class="apply-date">
                            <p class="apply-date-p">Date limite de candidature</p>
                            <p class="apply-date-b">
                                {{ space.limitAvailability|localizeddate('long', 'none') }} à {{ space.limitAvailability|date('H') }}h
                            </p>
                            </div>
                            <!-- FIN AJOUT OLIVIER -->
                        </div>
                    </a>
                </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>Il n'y a aucun espace disponible actuellement</h6>
        {% endif %}

{#        <h2 class="section-title animate-from-bottom animation-from-bottom" data-animation-direction="from-bottom" data-animation-delay="50">Les espaces occupés</h2>#}

        {% for space in unavailableSpaces %}
            <div class="item col-xs-12 col-md-6 col-lg-4">
                <div class="space_item_unavailable">
                <div class="image">
                    <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') }}{% endif %}" alt="" />
                </div>
                {# <div class="price_contener">
                    <span class="top">à partir de</span><br />
                    <span class="price">{{ space.price }}€</span><span> /M<sup>2</sup>/MOIS</span>
                </div> #}
                <div class="foot-unavailable">
                    <p class="ville">{{ space.city }} ({{ space.depCode }})</p>
                    <h6>{{ space.name }}</h6>
                    <ul>
                    <li>{{ space.type }}</li>
                    <!-- AJOUT OLIVIER -->
                    <li>
                        À partir de {{ space.price * 12 }} € / m<sup>2</sup> / an
                    </li>
                    <li>
                        <strong>{{ space.parcels | length }}</strong> espaces de {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup>
                    </li>
                </ul>
                <div class="calendar"></div>
                            <div class="apply-date">
                            <p class="apply-date-p">Date limite de candidature</p>
                            <p class="apply-date-b">Terminé</p>
                            </div>
<!-- FIN AJOUT OLIVIER -->
                           
                </div>
                 <div id="overlay"></div>
            </div>
            </div>
        {% endfor %}

    </div>

   <section class='row pu-home-content inscription '>
       <div class="col-xs-12 col-md-2 col-lg-1 ">
                <div class="bat"></div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-7 ">
                <h4>Inscrivez-vous pour recevoir en avant-première les nouveaux appels à projets</h4>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 btn-right">
                <a href='http://www.plateau-urbain.com' target="_blank" class='btn btn-line'><span>Je m'inscris</span></a>
            </div>
       
    </section>

    </div>
</div>
</div>
</div>


    <div id="proprio"></div>
<div class="content orange">
        <div class="container">
                    <div class="row pu-home-content espace ">
                       
        <div class="col-sm-12 col-md-6 col-lg-4">        
            <div class="img-espace"><img src="{{ asset('/public/images/Groupe-1050.png') }}" alt="Plateau Urbain" /></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5">
        <h2>Proposer un espace</h2>
            <h5>Vous êtes PROPRIÉTAIRES ou GÉRANT•E•S et souhaitez redonner une utilité à un espace vacant ? Vous pouvez proposer la gestion de votre bâtiment à Plateau Urbain ou bien diffuser sur notre plateforme votre appel à candidatures auprès de 12 000 inscrit.e.s et ainsi valoriser votre patrimoine inutilisé tout en ayant un impact positif sur le plan sociétal&nbsp;!</h5>
        </div>
        <div class="col-sm-12 col-md-offset-6 col-md-6 col-lg-offset-0 col-lg-3 espace btn-espace">
            <a href='http://www.plateau-urbain.com/notre-offre/' class='btn btn-line-2'><span>Découvrir notre offre</span></a>
        </div>
                    </div>
        </div>
</div>
<div id="faq"></div>
<div class="content beige">
    <div class="container">
        <div class="row pu-home-content faq">
            <h3 class="titre">Candidater, comment ça marche ?</h3>
            <div class="col-xs-12 col-md-6 col-lg-6">
                
                <div class="un"></div>
                <div class="faq-txt">
                    <h2>1 .</h2>
                    <h5 class="expliq">Je consulte les appels à candidature en cours</h5>
                </div>

                <div class="deux"></div>
                <div class="faq-txt">
                    <h2>2 .</h2>
                    <h5 class="expliq">Je candidate en précisant mon projet, mes besoins</h5> 
                        <p>Après avoir candidaté, je reçois un mail de confirmation de dépôt de candidature (vérifier les spams)</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="trois"></div>
                <div class="faq-txt"><h2>3 .</h2>
                    <h5 class="expliq">Je prends rendez-vous pour une visite de site</p>
                </div>

                <div class="quatre"></div>
                <div class="faq-txt">
                        <h2>4 .</h2>
                        <h5 class="expliq">À l'issue de la visite, je confirme ma candidature et précise les lots visés</h5>
                </div>
            </div>
            </div>

        
         </div>
    </div>
</div>

<div class="content plusinfos">
    <div class="container">
        <div class="row pu-home-content info">

            <div class="col-xs-12 col-md-8 col-lg-8">
                <h4>Vous souhaitez obtenir plus d'informations</h4>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4  btn-right">
                <a href='http://www.plateau-urbain.com/contactez-nous/' target="_blank" class='btn btn-line'><span>Contactez-nous</span></a>
            </div>

    </div>
</div>
</div>
{% endblock %}



{#{% block javascript %}
    {{ parent() }}

    {% include "AppBundle:Search:_map_js.html.twig" with {'departements' : departements} %}
{% endblock %}#}
