{% extends "::base.html.twig" %}

{% block breadcrumb %}{% endblock %}

{% block containerbkg %}
  <div class="top"></div>
{% endblock %}

{% block prebody %}
{#    {% include "AppBundle:Search:_map.html.twig" with {'form' : form } %} #}
    {% include "AppBundle:Search:_search_form.html.twig" with {'form' : form } %}
{% endblock %}


{% block body %}

<!-- BEGIN PROPERTY LISTING -->
<br />
    <div class="row last-space" id="js-results">


        <h2 class="section-title animate-from-bottom animation-from-bottom" data-animation-direction="from-bottom" data-animation-delay="50">Les espaces disponibles</h2>

        {% if latest|length %}
            {% for space in latest %}
                <div class="item col-sm-4 space_item"><!-- Set width to 4 columns for grid view mode only -->
                    <a href="{{ path('space_show', {'id' : space.id}) }}" target="_blank">
                        <div class="image">
                            <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') }}{% endif %}" alt="" />
                        </div>
                        <div class="price_contener">
                            <span class="top">à partir de</span><br />
                            <span class="price">{{ space.price }}€</span><span> /M<sup>2</sup>/MOIS</span>
                        </div>
                        <div class="foot">
                            <p>{{ space.type }} à {{ space.city }} ({{ space.depCode }})</p>
                            <h3>{{ space.name }} {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <em>Il n'y a aucun espace disponible actuellement</em>
        {% endif %}

        <h2 class="section-title animate-from-bottom animation-from-bottom" data-animation-direction="from-bottom" data-animation-delay="50">Les espaces occupés</h2>

        {% for space in unavailableSpaces %}
            <div class="item col-sm-4 space_item space_item_unavailable">
                <div class="image">
                    <img src="{% if space.pics.0 is defined %}{{ vich_uploader_asset(space.pics.0, 'file') }}{% endif %}" alt="" />
                </div>
                <div class="price_contener">
                    <span class="top">à partir de</span><br />
                    <span class="price">{{ space.price }}€</span><span> /M<sup>2</sup>/MOIS</span>
                </div>
                <div class="foot">
                    <p>{{ space.type }} à {{ space.city }} ({{ space.depCode }})</p>
                    <h3>{{ space.name }} {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}</h3>
 <!-- AJOUT OLIVIER -->
                    <p class="pu-value">
                        {% if space.owner %}
                            {% if space.owner.website %}
                                <a href="{{ space.owner.website }}" target="_blank">{{ space.owner.company }}</a>
                            {% else %}
                                {{ space.owner.company }}
                            {% endif %}
                        {% else %}
                            Sans bailleur
                        {% endif %}
                    <dd>
                        De {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup><br/>
                    </dd>
                    </p>
<!-- FIN AJOUT OLIVIER -->
                </div>

            </div>
        {% endfor %}

    </div>

{% endblock %}

{% block partners %}
    <div class="js-partners">
      <div class="top"></div>
        <div class="container pb100">
            {% include '@App/Default/_partners.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% include "AppBundle:Search:_map_js.html.twig" with {'departements' : departements} %}
{% endblock %}
