{% extends "::base.html.twig" %}

{% block breadcrumb %}{% endblock %}

{% block prebody %}
    {% include "AppBundle:Search:_map.html.twig" with {'form' : form } %}
{% endblock %}


{% block body %}
<div id="js-results">
    {% if pagination | length > 0 %}
    <div id="listing-header" class="clearfix">
        <div class="row">
            <div class="col-sm-8">
                {% include 'AppBundle:SpaceManagement/Partials:results_numbers.html.twig' with {'pagination' : pagination, 'label' : 'espaces' } %}
            </div>
            <div class="col-sm-4">
                    <div class="form-control-small">
                        <select id="sort_by" name="sort_by" data-placeholder="Trier par">
                            <option {% if form.vars.value.orderBy == 'name' %}selected="selected"{% endif %} value="name">Nom</option>
                            <option {% if form.vars.value.orderBy == 'price' %}selected="selected"{% endif %} value="price">Prix</option>
                            <option {% if form.vars.value.orderBy == 'city' %}selected="selected"{% endif %} value="city">Ville</option>
                            <option {% if form.vars.value.orderBy == 'limitAvailability' %}selected="selected"{% endif %} value="limitAvailability">Date limite de candidature</option>
                            <option {% if form.vars.value.orderBy == 'availability' %}selected="selected"{% endif %} value="availability">Date disponibilité</option>
                        </select>
                    </div>

                    <div class="sort">
                        <ul>
                            <li id="desc" {% if form.vars.value.sort =='desc'  %}class="active" {% endif %}><i data-toggle="tooltip" data-placement="top" title="Sort Descending" class="fa fa-chevron-down"></i></li>
                            <li id="asc" {% if form.vars.value.sort =='asc'  %}class="active" {% endif %}><i data-toggle="tooltip" data-placement="top" title="Sort Ascending" class="fa fa-chevron-up"></i></li>
                        </ul>
                    </div>

            </div>
        </div>
    </div>
    {% endif %}

    <!-- BEGIN PROPERTY LISTING -->
    <div id="property-listing" class="list-style clearfix">
        <div class="row">
        {% for space in pagination %}

            <div class="application-space space-card">
                <div class="row">
                    <div class="col-sm-4">
                        {% if space.pics.first %}
                            <img src="{{ vich_uploader_asset(space.pics.first, 'file')|imagine_filter('product_thumb') }}" alt="{{ space.pics.first.fileName }}" class="img-responsive">
                        {% endif %}
                    </div>
                    <div class="col-sm-8">
                        <div class="row first-row">
                            <div class="col-sm-6">
                                <h2 class="space-title">
                                    <small>{{ space.city }} ({{ space.zipCode|slice(0,2)}})</small>
                                    {{ space.name }} {% if space.size is not empty %}à partir de {{ space.size }}m<sup>2</sup>{% endif %}
                                </h2>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="space-price">
                                    <span>À partir de</span>
                                    <strong>{{ space.price }}€/m²/mois</strong>
                                    H.C. H.T.<sup>1</sup>
                                </div>
                            </div>
                        </div>
                        <div class="row second-row">
                            <div class="col-sm-4">
                                <div class="detail">
                                    <div class="detail-icon">
                                        <i class="fa fa-square-o"></i>
                                    </div>
                                    <h4 class="detail-title">
                                        <strong>{{ space.parcels | length }}</strong> espaces
                                    </h4>
                                    <p class="detail-description">
                                        De {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="detail">
                                    <div class="detail-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <h4 class="detail-title">
                                        Disponibilités
                                    </h4>
                                    <p class="detail-description">
                                        {{ space.availability }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="detail last">
                                    <div class="detail-icon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <h4 class="detail-title">
                                        Date limite de candidature
                                    </h4>
                                    <p class="detail-description">
                                        {{ space.limitAvailability | localizeddate("long", "none") }} à {{ space.limitAvailability|date('H') }}h
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 bailleur">
                                <div class="detail last">
                                    <div class="detail-icon">
                                        <i class="fa fa-building-o"></i>
                                    </div>
                                    <h4 class="detail-title">
                                        Bailleur
                                    </h4>
                                    <p class="detail-description">
                                        {{ space.owner.company }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a href="{{ path('space_show', {'id' : space.id}) }}" class="btn btn-block btn-secondary" target="_blank">Voir ce projet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <p>Aucun espace ne correspond à votre recherche</p>
        {% endfor %}
        </div>
    </div>

    {{ knp_pagination_render(pagination) }}

</div>
<!-- END PROPERTY LISTING -->


{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% include "AppBundle:Search:_map_js.html.twig" with {'departements' : departements} %}
{% endblock %}