{% extends "base.html.twig" %}

{% block breadcrumb_items %}
  <li><a href="{{ path('search_index') }}">Recherche</a></li>
  <li><a href="{{ path('space_show', {'id': space.id}) }}">Fiche espace</a></li>
  <li><span>Candidater</span></li>
{% endblock %}

{% block body %}

<div class="row candidate-application">
  <div class="top"></div>

  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h3 class="has-icon medium no-margin">
          <i class="icon medium icon-inline bkg list-red-bold"></i>
          {{ 'Vous êtes candidat' | upper }}
        </h3>
        {% if app.user %}
          <small>
            <i class="fa fa-info-circle"></i> Certaines informations ont été mises à jour via les informations de votre <a href="{{ path('security_profil') }}">profil</a>.
          </small>
          {% endif %}

        <div class="pu-col-container content-block">
          <div class="row">
            {{ form_start(form, {'attr' : {'class' : 'col-md-12'} } ) }}
            {{ form_errors(form) }}

            <div class="main col-sm-8 col-sm-offset-2">
                <h1 class="section-title">
                  <i class="icon user-red-bold"></i>
                  Mes informations
                </h1>

                {% if not app.user %}
                  <div class="fake-tabs">
                    <div class="fake-tabs__tabs fake-tabs__tabs-selected">
                      <span>Création de compte</span>
                    </div>
                    <div class="fake-tabs__tabs">
                      <a href="#inline_content" class="inline cboxElement">
                        J'ai déjà un compte
                      </a>
                    </div>
                  </div>
                {% endif %}
                <div class="form-contener">
                    <div class="row">
                        <div class="col-sm-6 inline-controls form-group civility-group">
                            {{ form_label(form.projectHolder.userInfo.civility) }}
                            {{ form_widget(form.projectHolder.userInfo.civility, { 'label_attr': { 'class': 'radio-inline' } }) }}
                            {{ form_errors(form.projectHolder.userInfo.civility) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.userInfo.firstname) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.userInfo.lastname) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.userInfo.birthday) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.userInfo.phone) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            {{ form_row(form.projectHolder.userInfo.email) }}
                        </div>
                    </div>
                    {% if not app.user %}
                      <div class="row">
                          <div class="col-sm-6 form-group">
                              {{ form_row(form.projectHolder.userInfo.password.first) }}
                          </div>
                          <div class="col-sm-6 form-group">
                              {{ form_row(form.projectHolder.userInfo.password.second) }}
                          </div>
                      </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            {{ form_row(form.projectHolder.userInfo.description) }}
                        </div>
                    </div>
                </div>

                <h1 class="section-title">
                  <i class="icon struct-red-bold"></i>
                  Ma structure
                </h1>

                <div class="form-contener">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.company) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.companyStatus) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6  form-group">
                            {{ form_row(form.projectHolder.companyInfo.companyCreationDate) }}
                        </div>
                        <div class="col-sm-6  form-group">
                            {{ form_row(form.projectHolder.companyInfo.siret)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.address)}}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.addressSuite) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.zipcode) }}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.city)}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.companyPhone)}}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.companyMobile) }}
                        </div>
                    </div>

                    <div class="row">
                       <div class="col-sm-12 form-group">
                            {{ form_row(form.projectHolder.companyInfo.companyDescription)}}
                       </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.companyEffective)}}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.companyStructures)}}
                        </div>
                    </div>

                    <div class="row form-group" >
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.companySite)}}
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ form_row(form.projectHolder.companyInfo.companyBlog)}}
                        </div>
                    </div>
                </div>

                <h1 class="section-title">
                  <i class="icon soc-red-bold"></i>
                  Réseaux sociaux
                </h1>

                <div class="form-contener">
                    <div class="row" >
                        <div class="col-sm-6 form-group">
                          <div class="input-group social-group">
                            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                            {{ form_widget(form.projectHolder.facebookUrl) }}
                            {{ form_errors(form.projectHolder.facebookUrl) }}
                          </div>
                        </div>
                        <div class="col-sm-6 form-group">
                          <div class="input-group social-group">
                            <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                            {{ form_widget(form.projectHolder.googleUrl) }}
                            {{ form_errors(form.projectHolder.googleUrl) }}
                          </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-sm-6 form-group">
                          <div class="input-group social-group">
                            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                            {{ form_widget(form.projectHolder.twitterUrl) }}
                            {{ form_errors(form.projectHolder.twitterUrl) }}
                          </div>
                        </div>
                        <div class="col-sm-6 form-group">
                          <div class="input-group social-group">
                            <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                            {{ form_widget(form.projectHolder.linkedinUrl) }}
                            {{ form_errors(form.projectHolder.linkedinUrl) }}
                          </div>
                        </div>
                    </div>

                    <div class="row" >
                        <div class="col-sm-6 form-group">
                          <div class="input-group social-group">
                            <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                              {{ form_widget(form.projectHolder.instagramUrl) }}
                              {{ form_errors(form.projectHolder.instagramUrl) }}
                          </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <div class="input-group social-group">
                                <span class="input-group-addon"><i class="socicon-viadeo"></i></span>
                                  {{ form_widget(form.projectHolder.otherUrl) }}
                                  {{ form_errors(form.projectHolder.otherUrl) }}
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="section-title">
                  <i class="icon doc-red-bold"></i>
                  Documents
                </h1>

                <div class="form-contener">

                  <div class="row">
                    <div class="col-sm-5 required-files">
                      <ul class="list-unstyled">
                        <li class="idcard-file">
                          {% if app.user and app.user.hasDocuments('id') %}
                              <i class="fa fa-check"></i>
                          {% else %}
                              <i class="fa fa-times"></i>
                          {% endif %}
                          <label class="required">Pièce d'identité</label>
                        </li>

                        <li class="kbis-file">
                          {% if app.user and app.user.hasDocuments('kbis') %}
                              <i class="fa fa-check"></i>
                          {% else %}
                              <i class="fa fa-times"></i>
                          {% endif %}
                          <label class="required">Kbis ou autre</label>
                        </li>
                      </ul>
                    </div>

                    <div class="col-sm-7">

                      <label class="control-label bold">Mes téléchargements</label>

                      <dl class="dl-horizontal info-block">
                        <dt><i class="fa fa-info-circle"></i></dt>
                        <dd>
                          Les documents suivants seront attachés à toutes vos candidatures.
                          Les fichiers complémentaires qui peuvent être joints dans toutes vos candidatures
                          doivent être téléchargés à partir de chaque fiche projet.
                        </dd>
                      </dl>

                  <div class="files">
                    {{ form_errors(form.projectHolder.idcard) }}
                    <div class="idcard-file file-infos {% if not form.projectHolder.idcard.vars.valid %}has-error{% endif %}">
                      <span>Pièce d'identité</span>
                      <div class="pull-right actions">
                        <label class="custom-file-input btn btn-accepted">
                            {{ form_widget(form.projectHolder.idcard) }}
                            <i class="fa fa-upload"></i>
                        </label>
                        {% if app.user and app.user.hasDocuments('id') %}
                            {% set file =  app.user.getDocumentsType('id')[0] %}
                            <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}" class="btn btn-show"><i class="fa fa-search"></i></a>
                            <a href="{{ path('profile_removedocument', { 'id': file.id }) }}" class="btn btn-delete"><i class="fa fa-trash"></i></a>
                        {% endif %}
                      </div>
                      {{ form_errors(form.projectHolder.idcard) }}
                    </div>

                    <div class="kbis-file file-infos {% if not form.projectHolder.kbis.vars.valid %}has-error{% endif %}">
                      <span>Document justifiant la création de la structure</span>
                      <div class="pull-right actions">
                        <label class="custom-file-input btn btn-accepted">
                            {{ form_widget(form.projectHolder.kbis) }}
                            <i class="fa fa-upload"></i>
                        </label>
                        {% if app.user and app.user.hasDocuments('kbis') %}
                            {% set file =  app.user.getDocumentsType('kbis')[0] %}
                            <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}" class="btn btn-show"><i class="fa fa-search"></i></a>
                            <a href="{{ path('profile_removedocument', { 'id': file.id }) }}" class="btn btn-delete"><i class="fa fa-trash"></i></a>
                        {% endif %}
                      </div>
                      {{ form_errors(form.projectHolder.kbis) }}
                    </div>

                    <hr />

                    {% for doc in form.projectHolder.vars.data.getDocumentsType('') %}
                        <div class="file-infos">
                          <span>{{doc.fileName | slice(14, 100)}}</span>
                          <div class="pull-right actions">
                              <a target="_blank" href="{{ asset(vich_uploader_asset(doc, 'file')) }}" class="btn btn-show"><i class="fa fa-search"></i></a>
                              <a href="{{ path('profile_removedocument', { 'id': doc.id }) }}" class="btn btn-delete"><i class="fa fa-trash"></i></a>
                          </div>
                        </div>
                    {% endfor %}

                  </div>

                  <div class="add-file">
                    <h4>
                      <i class="icon small icon-inline add-red"></i>
                      Ajouter un fichier
                    </h4>

                        <dl class="dl-horizontal info-block">
                          <dt><i class="fa fa-info-circle"></i></dt>
                          <dd>
                            Formats autorisés : JPG, GIF, PNG, PDF ou DOC.<br/>
                            Chaque fichier ne doit pas excéder 10MO.
                          </dd>
                        </dl>

                    {{ form_widget(form.projectHolder.newDocument, {'attr': {'class': 'form-control'}}) }}

                    </div>
                  </div>

                 </div>
                  <div class="row">
                      <div class="col-sm-4 col-sm-offset-4">
                          <input type="submit" value="Ajouter le document" class="btn btn-fullcolor form-control">
                      </div>
                  </div>
                </div>

                <h1 class="section-title">
                  <i class="icon list-red-bold"></i>
                  Mon projet
                </h1>
                <div class="form-contener">
                    <div class="row">
                        <div class="col-sm-12">
                          {{ form_row(form.name) }}
                        </div>
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-4">
                              {{ form_label(form.category, null, {'label_attr' : {'class' : 'inline-label'}}) }}
                            </div>
                            <div class="col-sm-8" {{ form.category.vars.errors|length ? 'has-error' : '' }}>
                              {{ form_widget(form.category) }}
                              {{ form_errors(form.category) }}
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12">
                          {{ form_row(form.wishedSize) }}
                        </div>

                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-5">
                              {{ form_label(form.lengthOccupation, null, {'label_attr' : {'class' : 'inline-label'}}) }}
                            </div>

                            <div class="col-sm-3 {{ form.lengthOccupation.vars.errors|length ? 'has-error' : '' }}">
                              {{ form_widget(form.lengthOccupation) }}
                              {{ form_errors(form.lengthOccupation) }}
                            </div>

                            <div class="col-sm-4 {{ form.lengthTypeOccupation.vars.errors|length ? 'has-error' : '' }}">
                              {{ form_widget(form.lengthTypeOccupation) }}
                              {{ form_errors(form.lengthTypeOccupation) }}
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-6">
                              {{ form_label(form.startOccupation, null, {'label_attr' : {'class' : 'inline-label'}}) }}
                            </div>
                            <div class="col-sm-6 {{ form.startOccupation.vars.errors|length ? 'has-error' : '' }}">
                              {{ form_widget(form.startOccupation) }}
                              {{ form_errors(form.startOccupation) }}
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          {{ form_row(form.description) }}
                        </div>
                        <div class="col-sm-12">
                          {{ form_row(form.openToGlobalProject, { 'attr': { 'data-checkbox-toggle': '#toggle_' ~ form.contribution.vars.id } }) }}
                        </div>
                        <div class="col-sm-12" id="toggle_{{ form.contribution.vars.id }}">
                          {{ form_row(form.contribution) }}
                        </div>
                        <div class="col-md-12 files">

                    {% if space.getDocuments() | length > 0 %}
                      <h4>{{space.getDocuments() | length}} fichier{% if space.getDocuments() | length > 1%}s{% endif %} à joindre à votre candidature *</h4>
                    {% endif %}

                    <ul class="list-unstyled files-list"></ul>

                    {% for document in space.documents %}
                      <div class="file-infos">
                        <span>{{document.name}}</span>
                        <div class="pull-right actions">

                          <label class="custom-file-input btn btn-accepted">
                            {{ form_widget(attribute(form, "document_#{document.id}")) }}
                            {{ form_errors(attribute(form, "document_#{document.id}")) }}
                            <i class="fa fa-upload"></i>
                          </label>
                          {% if form.vars.data.getFilesType(document.id) %}
                            <a target="_blank" href="{{ asset(vich_uploader_asset(form.vars.data.getFilesType(document.id)[0], 'file')) }}" class="btn btn-show"><i class="fa fa-search"></i></a>
                            <a href="{{ path('space_removefile', { 'id': form.vars.data.getFilesType(document.id)[0].id }) }}" class="btn btn-delete"><i class="fa fa-trash"></i></a>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}

                    <label class="control-label">Joindre des fichiers supplémentaires à cette candidature</label>

                    {% if form.vars.data.getFilesType(null) | length > 0 %}
                    <dl class="dl-horizontal dl-with-fa-icon info-block">
                      <dt><i class="fa fa-info-circle"></i></dt>
                      <dd>
                        Les documents suivants seront seulement attachés à la
                        candidature de cet espace. Les fichiers qui peuvent être
                        joints dans toutes vos candidatures doivent être téléchargés
                        dans la section "Documents".
                      </dd>
                    </dl>
                    {% endif %}

                    {% if form.vars.data.getFilesType(null) | length > 0 %}
                    <div class="row">
                      <div class="files col-sm-12">

                        {% for file in form.vars.data.getFilesType(null) %}
                            <div class="file-infos">
                              <span>{{file.fileName | slice(14, 100)}}</span>
                              <div class="pull-right actions">
                                  <a target="_blank" href="{{ asset(vich_uploader_asset(file, 'file')) }}" class="btn btn-show"><i class="fa fa-search"></i></a>
                                  {% if file.id is not empty %}
                                    <a href="{{ path('space_removefile', { 'id': file.id }) }}" class="btn btn-delete"><i class="fa fa-trash"></i></a>
                                  {% endif %}
                              </div>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}

                    <div class="row">
                      <div class="add-file col-xs-12">
                          {% if form.vars.data.getFilesType(null) | length > 0 %}
                        <h4>
                          <i class="icon small icon-inline add-red"></i>
                          Ajouter un fichier
                        </h4>
                          {% endif %}

                        <dl class="dl-horizontal dl-with-fa-icon info-block">
                          <dt><i class="fa fa-info-circle"></i></dt>
                          <dd>
                            Formats autorisés : JPG, GIF, PNG, PDF ou DOC.<br/>
                            Chaque fichier ne doit pas excéder 10Mo.
                          </dd>
                        </dl>

                        {{ form_widget(form.newDocument, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>

                    </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 30px;">
                <div class="col-sm-12">
                <div class="center">
                  {{ form_widget(form.submit, {'attr': {'class': 'btn-fullcolor btn-wide submit'}}) }}
                </div>
                </div>

                    <div class="col-sm-12">
                    <p class="tip text-center">
                      Il vous manque une pièce ? Cliquez sur "Enregistrer" : votre
                      formulaire sera<br/> sauvegardé en l'état, et vous pourrez reprendre
                      la constitution plus tard.<br/>
                      Cliquez sur "Clôturer ma candidature" quand votre dossier est
                      prêt<br/> à être envoyé au propriétaire.
                    </p>
                    </div>
                </div>
          </div>

            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
