{% extends "::base.html.twig" %}

{%  block headerSize %}header-hidden{% endblock headerSize %}
{#{% block header %}#}
    {#{% endblock %}#}

{% block body %}

    <!-- =========================
   PRODUCTS SECTION
============================== -->

    <section class="products" data-type="background" data-speed="1" id="products">
    <div class="color-overlay">
    <div class="container">

    <!-- SECTION HEADER -->
    <div class="section-header">

        <!-- SECTION TITLE -->
        <h2 class="white-text">Liste des plateaux disponibles</h2>

        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
            Les différents plateaux urbains
        </h6>
    </div>
    <!-- / END SECTION HEADER -->

    <!-- PRODUCTS -->
    <div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
    {% for space in spaces %}
        <!-- SINGLE PRODUCT -->
        <div class="col-md-3">:
            <div class="item" style="background-image: url(
            {% if space.pics[0] is defined %}
                {{ vich_uploader_asset(space.pics[0], 'file') | imagine_filter('product_thumb') }}
            {% endif  %}
                    )">
                <div class="item-overlay">
                </div>
                <div class="item-content">
                    <div class="item-top-content">
                        <div class="item-top-content-inner">
                            <div class="item-product">
                                <div class="item-top-title">
                                    <h5>{{ space.name }}</h5>  <!-- PRODUCT TITLE-->
                                    <p class="subdescription">
                                        {{ space.locationDescription }}
                                    </p> <!-- PRODUCT DESCRIPTION-->
                                </div>
                            </div>
                            <div class="item-product-price">
                                <!-- PRICE -->
                                <span class="price-num green-text">{{ space.price  }} €</span>
                                {#<!-- OLD PRICE START -->#}
                                {#<p class="subdescription">#}
                                    {#$36#}
                                {#</p>#}
                                {#<div class="old-price">#}
                                {#</div> <!-- END OLD PRICE -->#}
                            </div>
                        </div>
                    </div>

                    <!-- ITEM HOVER CONTENT-->
                    <div class="item-add-content">
                        <div class="item-add-content-inner">
                            <div class="section">
                                <p>
                                    {{ space.name }}
                                </p>
                            </div>
                            <div class="section">
                                {#<a href="#" class="btn btn-primary custom-button red-btn">Demo</a><br/>#}
                                <a href="{{ path('space_show', {"id":space.id} ) }}" class="btn btn-primary custom-button green-btn">Voir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- / END FIRST ITEM -->
        {% if loop.index is divisibleby(4) %}
            </div> <!-- END ROW -->
            <div class="row wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
        {% endif %}
    {% endfor %}
    </div> <!-- END ROW -->

    </div> <!-- / END CONTAINER -->
    </div> <!-- / END COLOR OVERLAY -->
    </section> <!-- / END PRODUCTS SECTION -->



{% endblock body %}