{% extends "::base.html.twig" %}

{% block breadcrumb %}{% endblock %}

{% block body %}

<div class="row">

        <!-- BEGIN MAIN CONTENT -->
        <div class="col-sm-12">
                <h1 class="property-title">{{ space.name }} à partir de {{ space.size }}m<sup>2</sup><small>{{ space.city }} ({{ space.zipCode|slice(0,2)}})</small></h1>            
        </div>
        
        <div class="main col-sm-8">

                <!-- BEGIN PROPERTY DETAIL SLIDERS WRAPPER -->
                <div id="property-detail-wrapper" class="style1">

                        <!-- BEGIN PROPERTY DETAIL LARGE IMAGE SLIDER -->
                        <div id="property-detail-large" class="owl-carousel">
                            {% for p in space.pics %}
                                <div class="item">
                                    <img src="{{ vich_uploader_asset(p, 'file') }}" alt="{{ space.name }}" />
                                </div>
                            {% endfor %}
                        </div>
                        <!-- END PROPERTY DETAIL LARGE IMAGE SLIDER -->

                        <!-- BEGIN PROPERTY DETAIL THUMBNAILS SLIDER -->
                        <div id="property-detail-thumbs" class="owl-carousel">
                            {% for p in space.pics %}
                                <div class="item">
                                    <img src="{{ vich_uploader_asset(p, 'file') }}" alt="{{ space.name }}" />
                                </div>
                            {% endfor %}
                        </div>
                        <!-- END PROPERTY DETAIL THUMBNAILS SLIDER -->

                </div>
                <!-- END AGENT INFORMATION -->
        </div>	
        <!-- END MAIN CONTENT -->


        <!-- BEGIN SIDEBAR -->
        <div class="sidebar gray col-sm-4">
            <!-- BEGIN ADVANCED SEARCH -->
            <p class="pu-label">TYPE DE LOCAUX</p>
            <p class="pu-value">{{ space.type | upper }}</p>

            <p class="pu-label">BAILLEUR</p>
            <p class="pu-value">{{ space.owner.company }}</p>

            <div class="pu-price-zone">
                <ul class="top-info">
                    <li><i class="fa fa-info-circle"></i> Prix au m<sup>2</sup></li>
                    <li>À partir de {{ space.price * 12 }} € / m<sup>2</sup> / an H.C. - H.T.<sup>1</sup></li>
                    <li>Soit {{ space.price }} € / m<sup>2</sup> / mois H.C. - H.T.<sup>1</sup></li>
                </ul>
                <ul class="top-info">
                    <li><i class="fa fa-square-o"></i> {{ space.parcels | length }} espaces</li>
                    <li>De {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup></li>
                    <li><a href="#parcels">Voir la répartition des espaces</a></li>
                </ul>
                <ul class="top-info">
                    <li><i class="fa fa-calendar"></i> Disponibilité</li>
                    <li>{{ space.availability}}</li>
                </ul>
            </div>

            <div>
                <p>Date limite de candidature</p>
                <p>{{ space.limitAvailability | date('d F Y à H') }}h</p>
                <a href="#candidate" class="btn btn-fullcolor">{{ 'Candidater !' | upper }}</a>
            </div>
        </div>
        <!-- END SIDEBAR -->

</div>
            
<div class="row">

    <div class="col-sm-6">
        <h3><i class="fa fa-map-marker"></i> {{ 'Description' | upper }}</h3>
        <div class="pu-col-container">
            <p>{{ space.description | nl2br }}</p>
        </div>
    </div>
    <div class="col-sm-6">
        <h3><i class="fa fa-search"></i> {{ 'Activités recherchées' | upper }}</h3>
        <div class="pu-col-container">
            <p>{{ space.activityDescription | nl2br }}</p>
        </div>
    </div>

    <p>&nbsp;</p>

    <!-- BEGIN PROPERTY AMENITIES LIST -->
    <div class="col-sm-6">
        <h3><i class="fa fa-cog"></i> {{ 'Prestations et services' | upper }}</h3>
        <div class="pu-col-container">
            <ul class="property-amenities-list">
                {% for t in space.tags %}
                    {% if t.availability == true %}
                        <li class="enabled">{{ t.attribute }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- BEGIN PROPERTY AMENITIES LIST -->
    <div class="col-sm-6">
        <h3><i class="fa fa-wrench"></i> {{ 'à prévoir' | upper }}</h3>
        <div class="pu-col-container">
            <ul class="property-amenities-list">
                {% for t in space.tags %}
                    {% if t.availability == false %}
                        <li class="disabled">{{ t.attribute }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
        
    <p  id="parcels">&nbsp;</p>

    {% if space.parcels | length > 0 %}
    <div class="col-sm-12">
        <h3><i class="fa fa-square-o"></i> {{ 'Répartition des espaces' | upper }}</h3>
        <div class="pu-col-container">
            <table class="pu-parcels-table">
                <thead>
                    <th>{{'étage' | upper}}</th>
                    <th>{{'Type de locaux' | upper}}</th>
                    <th>{{'Surface' | upper}}</th>
                    <th>{{'Disponibilité' | upper}}</th>
                </thead>
                <tbody>
                    {% for p in space.parcels %}
                        <tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
                            <td>{{ p.floor }}</td>
                            <td>{{ p.type }}</td>
                            <td>{{ p.surface }}m<sup>2</sup></td>
                            <td>{% if p.disponibility is not null %}{{ p.disponibility | date('d/m/Y') }}{% else %}Immédiat{% endif%}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <p id="candidate">&nbsp;</p>

    <div class="col-sm-12">
        <h3><i class="fa fa-edit"></i> {{ 'Vous êtes candidat' | upper }}</h3>

        <div class="pu-col-container">
            <p>Phrase qui explique qu'il faut avoir complété son profil pour pouvoir candidater, et qui invite à le faire par un lien : <a href=''>Compléter mon profil</a></p>
            <form class="form-style col-md-12">
                    <div class="col-sm-12">
                            <input type="text" name="Name" placeholder="Name" class="form-control required fromName" />
                    </div>

                    <div class="col-sm-12">
                            <input type="email" name="Email" placeholder="Email" class="form-control required fromEmail"  />
                    </div>

                    <div class="col-sm-12">
                            <input type="text" name="Subject" placeholder="Subject" class="form-control required subject"  />
                            <textarea name="Message" placeholder="Message" class="form-control required"></textarea> 
                    </div>

                    <div class="center">
                            <button type="submit" class="btn btn-default-color submit_form"><i class="fa fa-envelope"></i> Send Message</button>
                    </div>
            </form>
            <p>&nbsp;</p>
            <hr />
            <p><sup>1</sup> : HT (hors taxes), TTC (taxes comprises), HC (hors charges), CC (charges comprises)</p>
            <p>{{ space.usageRestriction | nl2br }}</p>
        </div>
    
    </div>

    <p>&nbsp;</p>
</div>

{% endblock body %}
