{% extends "base.html.twig" %}

{% block breadcrumb_items %}
  <li><a href="{{ path('search_index') }}">Recherche</a></li>
  <li><span>Fiche espace</span></li>
{% endblock %}

{% block body %}

{% if not application.isDraft %}
  <div class="alert alert-warning">
    {% if application.space.isClosed %}
      <p class="center">Ce projet est désormais clôturé.</p>
    {% endif %}
      <p class="center">
        Vous avez envoyé votre dossier de candidature pour cet espace le {{ application.created|date('d/m/Y') }}
      </p>
      <p class="center">
        <a href="{{ path('my_application_show', { 'id': application.id }) }}" class="btn btn-fullcolor">
          Voir votre candidature
        </a>
      </p>
  </div>
{% endif %}

{% if invalidProfile and application.isDraft %}
  <div class="alert alert-warning">
    <p class="center">
      Veuillez compléter votre profil afin de proposer votre candidature.
    </p>
    <p class="center">
      <a href="{{ path('security_profil') }}" class="btn btn-fullcolor">
        Compléter mon profil
      </a>
    </p>
  </div>
{% endif %}

<div class="row">
  <!-- BEGIN MAIN CONTENT -->
  <div class="col-sm-12">
    <h1 class="property-title">
      {{ space.name }} {% if space.size is not empty %}à partir de {{ space.minSize }}m<sup>2</sup>{% endif %}
      <small>{{ space.city }} ({{ space.zipCode|slice(0,2)}})</small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="main col-sm-8">
    <div id="property-detail-wrapper" class="style1">
      {% if space.isClosed %}
        <img src="{{ asset('/bundles/app/images/closed.png') }}" alt="closed" class="closed" />
      {% endif %}

      <div id="property-detail-large" class="owl-carousel ">
        {% for p in space.pics %}
          <div class="item">
            <img src="{{ vich_uploader_asset(p, 'file') }}" alt="{{ space.name }}" />
          </div>
        {% endfor %}
      </div>

      <div id="property-detail-thumbs" class="owl-carousel">
        {% for p in space.pics %}
          <div class="item">
            <img src="{{ vich_uploader_asset(p, 'file') }}" alt="{{ space.name }}" />
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="sidebar no-padding col-sm-4">
    <div class="content">
      <p class="pu-label">TYPE DE LOCAUX</p>
      <p class="pu-value">{{ space.type | upper }}</p>

      <p class="pu-label">BAILLEUR</p>
      <p class="pu-value">
        {% if space.owner.website %}
          <a href="{{ space.owner.website }}" target="_blank">{{ space.owner.company }}</a>
        {% else %}
          {{ space.owner.company }}
        {% endif %}
      </p>
    </div>

    <hr />

    <div class="pu-price-zone">
      <div class="content">
        <dl class="dl-horizontal">
          <dt><i class="icon bkg medium info-red-bold"></i></dt>
          <dd>
            <span class="pu-label">Prix au m<sup>2</sup><br/></span>
            À partir de {{ space.price * 12 }} € / m<sup>2</sup> / an H.C. - H.T.<sup>1</sup><br/>
            Soit {{ space.price }} € / m<sup>2</sup> / mois H.C. - H.T.<sup>1</sup>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt><i class="icon bkg medium square-red-bold"></i></dt>
          <dd>
            <span class="pu-title"><strong>{{ space.parcels | length }}</strong> espaces<br/></span>
            De {{ space.minSize }} m<sup>2</sup> à {{ space.maxSize }} m<sup>2</sup><br/>
            <a href="#parcels">Voir la répartition des espaces</a>
          </dd>
        </dl>

        <dl class="dl-horizontal">
          <dt><i class="icon bkg medium cal-red-bold"></i></dt>
          <dd>
            <span class="pu-label">Disponibilité<br/></span>
            {{ space.availability }}
          </dd>
        </dl>
      </div>
    </div>

    <hr />

    <div class="pu-apply-zone">
      <h4 class="center">Date limite de candidature</h4>
      <p class="center apply-date">
        {{ space.limitAvailability|localizeddate('long', 'none') }} à {{ space.limitAvailability|date('H') }}h
      </p>
      <p class="center">
        {% if application.isDraft and not invalidProfile %}
          {% if not is_granted('ROLE_OWNER') or not app.user.isProprio() %}
            <a href="#candidate" class="btn btn-fullcolor btn-large apply">
              {{ 'Candidater !' | upper }}
            </a>
          {% endif %}
        {% endif %}

        {% if not application.isDraft %}
          <a href="{{ path('my_application_show', { 'id': application.id }) }}" class="btn btn-fullcolor btn-large apply">
            {{ 'Voir votre candidature !' | upper }}
          </a>
        {% endif %}
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="has-icon medium no-margin">
      <i class="icon medium icon-inline pointer-red-bold"></i>
      {{ 'Description' | upper }}
    </h3>
    <div class="pu-col-container content-block">
      <p>{{ space.description | nl2br }}</p>
    </div>
  </div>
  <div class="col-sm-6">
    <h3 class="has-icon medium no-margin">
      <i class="icon medium icon-inline search-red-bold"></i>
      {{ 'Activités recherchées' | upper }}
    </h3>
    <div class="pu-col-container content-block">
      <p>{{ space.activityDescription | nl2br }}</p>
    </div>
  </div>
</div>

<div class="row">
  {%  if space.hasTagType(constant('AppBundle\\Entity\\SpaceAttribute::STATUS_INCLUDED')) %}
    <div class="col-sm-6">
      <h3 class="has-icon medium no-margin">
        <i class="icon medium icon-inline cog-red-bold"></i>
        {{ 'Prestations et services' | upper }}
      </h3>
      <div class="pu-col-container content-block">
        <ul class="property-amenities-list">
          {% for t in space.tags %}
            {% if t.isIncluded %}
              <li class="enabled">{{ t.attribute }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {%  if space.hasTagType(constant('AppBundle\\Entity\\SpaceAttribute::STATUS_EXPECTED')) %}
    <div class="col-sm-6">
      <h3 class="has-icon medium no-margin">
        <i class="icon medium icon-inline tools-red-bold"></i>
        {{ 'à prévoir' | upper }}
      </h3>
      <div class="pu-col-container content-block">
        <ul class="property-amenities-list">
          {% for t in space.tags %}
            {% if t.isExpected %}
              <li class="disabled">{{ t.attribute }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</div>

<p id="parcels">&nbsp;</p>
<div class="row">
  {% if space.parcels | length > 0 %}
    <div class="col-sm-12">
      <h3 class="has-icon medium no-margin">
        <i class="icon medium icon-inline square-red-bold"></i>
        {{ 'Répartition des espaces' | upper }}
      </h3>
      <div class="pu-col-container content-block">
        <div class="pu-table-wrapper">
          <table class="pu-parcels-table">
            <thead>
              <tr>
                <th>{{'étage' | upper}}</th>
                <th>{{'Type de locaux' | upper}}</th>
                <th>{{'Surface' | upper}}</th>
                <th>{{'Disponibilité' | upper}}</th>
              </tr>
            </thead>
            <tbody>
              {% for p in space.parcels %}
                <tr {% if loop.index % 2 == 0 %}class="even"{% endif %}>
                  <td>{{ p.floor }}</td>
                  <td>{{ p.type }}</td>
                  <td>{{ p.surface }}m<sup>2</sup></td>
                  <td>{% if p.disponibility is not null %}{{ p.disponibility | date('d/m/Y') }}{% else %}Immédiat{% endif%}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="pu-col-container content-block desc-mention">
      <div class="content">
        <hr />
      </div>
      <p><sup>1</sup> : HT (hors taxes), TTC (taxes comprises), HC (hors charges), CC (charges comprises)</p>
      <p>{{ space.usageRestriction | nl2br }}</p>
    </div>
  </div>
</div>

<a id="candidate">&nbsp;</a>
{% if application.isDraft and not invalidProfile and app.user.typeUser != 1 %}
    {% include '@App/Space/Partials/_application_form.html.twig' %}
{% endif %}

{% endblock body %}

{% block javascript %}

    {% javascripts filter='?yui_js' output='assetic/js/compiled/avocodeformextensions/form-extensions.min.js'
        'bundles/avocodeformextensions/datepicker/js/datepicker.js'
        'bundles/avocodeformextensions/datepicker/js/locales/bootstrap-datepicker.fr.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Modal -->
    <div id="confirmBox" style="display: none;">
        <div class="colorBox-content">
            <h4>Félicitations !</h4>
            <br />

            <p>
                Votre candidature est désormais clôturée et sera transmise au bailleur.<br /> Ce dossier de candidature est disponible dans votre compte,<br /> vous pourrez donc revenir le consulter et l'imprimer.
            </p>
            <p>
                {% if application and application.id != '' %}
                    <a href="{{ path('my_application_show', { 'id': application.id }) }}" class="btn btn-fullcolor">Voir ma candidature</a>
                {% endif %}
            </p>
        </div>
    </div>

    <div id="saveBox" style="display: none;">
        <div class="colorBox-content">
            <i class="fa fa-info-circle danger"></i>
            <p>La candidature a été enregistrée.</p>
        </div>
    </div>

    <script type="text/javascript">
        var hash = window.location.hash.substring(1);
        $(function() {

            if (hash == "espace_confirmation") {
                $.colorbox({html:$('#confirmBox').html()});
            }
            if (hash == "espace_sauvegarde") {
                $.colorbox({html:$('#saveBox').html()});
            } });
    </script>

    <script type="text/javascript">
        function initFormListener() {
            $('input[type=submit], button[type=submit]').click(function(e){

                var submitting = false;

                if ($(this).hasClass('submit')) {
                    submitting = true;
                }

                var form = $(this).closest('form');
                var action = form.attr('action');
                var formData = new FormData(form[0]);

                if ($(this).attr('name') == 'appbundle_application[save]' || $(this).attr('name') == 'appbundle_application[save_file]') {
                  formData.append('appbundle_application[save]', null);
                } else {
                  formData.append('appbundle_application[submit]', null);
                }

                $.ajax({
                    url: action,
                    type: 'POST',
                    data: formData,
                    async: false,
                    success: function (data) {
                        successAjax(data, submitting);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

                return false;
            });
        }

        function successAjax(data, submitting) {
            $(".candidate-application").html($(data).find('.candidate-application').html());
            initFormListener();
            $("input[data-provide='datepicker']").datepicker({'format' : 'dd/mm/yyyy', 'language': 'fr'});
            $("select").attr("data-placeholder", "Sélectionnez une option");
            $("select").chosen();

            if (submitting && $(".candidate-application .has-error").length < 1) {
              window.location.replace(window.location.href + "#espace_confirmation");
              window.location.reload(true);
            }

            $('[data-checkbox-toggle]').each(function () {
                var $element = $(this);
                var selector = $element.data('checkbox-toggle');
                var $target = $(selector);

                if ($element.is(':checked')) {
                    $target.show();
                } else {
                    $target.hide();
                }

                $element.on('change', function () {
                    if ($(this).is(':checked')) {
                        $target.show();
                    } else {
                        $target.hide();
                    }
                });
            });

            var recalculate_size_price = function ($container, basePrice) {
                var $input = $container.find('input');
                var $monthPrice = $container.find('[data-model="monthPrice"]');
                var $yearPrice = $container.find('[data-model="yearPrice"]');
                var value = parseInt($input.val());

                if (value > 0) {
                    $monthPrice.text(value * basePrice);
                    $yearPrice.text(value * basePrice * 12);
                } else {
                    $monthPrice.text('-');
                    $yearPrice.text('-');
                }
            };

            $('[data-size-calculator]').each(function () {
                var $element = $(this);
                var basePrice = $element.data('size-calculator');

                recalculate_size_price($element, basePrice);

                $element.on('change', 'input', function (e) {
                   e.preventDefault();
                   recalculate_size_price($element, basePrice);
                });
            });
        }

        $(document).ready(function() {
            initFormListener();

            $(".candidate-application").off('input[type=file]').on('change', 'input[type=file]', function(){
              $('#appbundle_application_save').trigger('click');
            });
        });
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite,?yui_css' output='assetic/css/compiled/avocodeformextensions/form-extensions.min.css'
        'bundles/avocodeformextensions/datepicker/css/datepicker.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}
