{% extends "::base.html.twig" %}

{% block body %}
<ul>
    <li>{{ space.name }}</li>
    <li>{{ space.description }}</li>
    <li>{{ space.locationDescription }}</li>
    <li>{{ space.usageRestriction }}</li>
    <li>{{ space.surface }}</li>
    <li>{{ space.size }}</li>
    <li>{{ space.availability }}</li>
    <li>{{ space.limitAvailability |date('Y-m-d') }}</li>

    {#{% for pic in space.pics  %}#}
    {#{{ pic }}#}
    {#{% endfor %}#}

    {% for spaceAttribute in  space.spaceAttributes %}
        {{ spaceAttribute.getAttribute() }} ,
    {% endfor %}


</ul>

{% endblock body %}